@using Clanwars.TournamentManager.Lib.Messages.Feedback
@inject ISnackbar Snackbar
@inject IFeedbackService FeedbackService
<MudDialog >
    <DialogContent>
        <EditForm Model="@_model" OnValidSubmit="OnValidSubmit" OnInvalidSubmit="OnInvalidSubmit">
            <MudText Typo="Typo.h6">Was möchtest du zu unserem neuen Turniersystem mitteilen?</MudText>
            <MudText Typo="Typo.body1">Gib uns eine Gesamtbewertung</MudText>
            <MudRating @bind-SelectedValue="_model.Rating"/>
            <MudTextField
                @bind-Value="_model.Features"
                Label="Dieses Feature brauchen wir nächstes Jahr UNBEDINGT"
                Lines="3"/>
            <MudTextField
                @bind-Value="_model.GoodBad"
                Label="Welche Features gefallen dir besonders gut, was hast du vermisst?"
                Lines="3"/>
            <MudPaper Class="mt-6 mb-2 d-flex justify-end" Elevation="0">
                <MudButton OnClick="Cancel" Class="ml-2">Cancel</MudButton>
                <MudButton Color="Color.Primary" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Class="ml-2">Send Feedback</MudButton>
            </MudPaper>
        </EditForm>
    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    readonly FeedbackInput _model = new();

    void Cancel() => MudDialog.Cancel();

    private async Task OnValidSubmit(EditContext context)
    {
        var createFeedbackMessage = new CreateFeedbackMessage
        {
            Rating = _model.Rating,
            Features = _model.Features,
            GoodBad = _model.GoodBad
        };
        var createdFeedback = await FeedbackService.CreateFeedbackAsync(createFeedbackMessage);
        Snackbar.Add("Feedback was sent", Severity.Success);
        MudDialog.Close(DialogResult.Ok(createdFeedback));
    }

    private void OnInvalidSubmit()
    {
        Snackbar.Add("Could not create event as form is not filled out correctly.", Severity.Error);
    }

    private class FeedbackInput
    {
        public int Rating { get; set; }

        public string Features { get; set; } = string.Empty;

        public string GoodBad { get; set; } = string.Empty;
    }

}
