@using System.ComponentModel.DataAnnotations
@using Clanwars.TournamentManager.Lib.Messages.Clans
@using Clanwars.TournamentManager.Lib.Messages.User
@inject ISnackbar Snackbar
@inject IClansService ClansService

<MudDialog >
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Create" Class="mr-3 mb-n1"/>
            Create Clan
        </MudText>
    </TitleContent>
    <DialogContent>
        <EditForm Model="@_model" OnValidSubmit="OnValidSubmit" OnInvalidSubmit="OnInvalidSubmit">
            <DataAnnotationsValidator/>
            <MudTextField Label="Name" @bind-Value="_model.Name" For="@(() => _model.Name)"/>
            <MudTextField Label="Clan Tag" @bind-Value="_model.ClanTag" For="@(() => _model.ClanTag)"/>
            <MudPaper Class="mt-6 mb-2 d-flex justify-end" Elevation="0">
                <MudButton OnClick="Cancel" Class="ml-2">Cancel</MudButton>
                <MudButton Color="Color.Primary" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Class="ml-2">Create Clan</MudButton>
            </MudPaper>
        </EditForm>
    </DialogContent>
</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = null!;

    [Parameter]
    public UserResponse Owner { get; set; } = null!;

    readonly EventInput _model = new();

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    private async Task OnValidSubmit(EditContext context)
    {
        var createClanMessage = new CreateClanMessage
        {
            Name = _model.Name,
            ClanTag = _model.ClanTag
        };
        var createdClan = await ClansService.CreateClanAsync(createClanMessage);
        Snackbar.Add($"Clan \"{createClanMessage.Name}\" created", Severity.Success);
        MudDialog.Close(DialogResult.Ok(createdClan));
    }

    private void OnInvalidSubmit()
    {
        Snackbar.Add("Could not create event as form is not filled out correctly.", Severity.Error);
    }

    private class EventInput
    {
        [Required][StringLength(30, MinimumLength = 5)]
        public string Name { get; set; } = null!;

        [Required]
        [StringLength(8, MinimumLength = 2)]
        public string ClanTag { get; set; } = null!;
    }

}
