.rotation-container {
    min-width: 42px;
    max-width: 42px;
    min-height: 42px;
    max-height: 42px;
}

.rotation-Degree0 {
    transform: rotate(0deg);
}

.rotation-Degree45 {
    transform: rotate(45deg);
}

.rotation-Degree90 {
    transform: rotate(90deg);
}

.rotation-Degree135 {
    transform: rotate(135deg);
}

.rotation-Degree180 {
    transform: rotate(180deg);
}

.rotation-Degree225 {
    transform: rotate(225deg);
}

.rotation-Degree270 {
    transform: rotate(270deg);
}

.rotation-Degree315 {
    transform: rotate(315deg);
}
