@using Clanwars.TournamentManager.Lib.Messages.User
@using Sieve.Models
@using Clanwars.TournamentManager.Lib.Messages.Rooms
@using Clanwars.TournamentManager.Lib.Messages.Events
@inject ISnackbar Snackbar
@inject IRoomsService RoomsService
@inject IEventsService EventsService
@inject IUsersService UsersService

<MudDialog >
    <DialogContent>
        @if (_availableUsers != null)
        {
            @if (GridSquare.User != null)
            {
                <MudAlert Severity="Severity.Warning" Variant="Variant.Outlined">
                    <MudText>A user is already placed on this seat:</MudText>
                    <UserDisplay User="GridSquare.User" Class="pt-3"></UserDisplay>
                </MudAlert>
            }

            <MudText Typo="Typo.subtitle1" Class="pt-3">Do you want to place this user?</MudText>
            <UserDisplay User="AffectedUser" Class="pt-3"></UserDisplay>

            <MudPaper Class="mt-6 mb-2 d-flex justify-end" Elevation="0">
                <MudButton OnClick="Cancel" Class="ml-2">Cancel</MudButton>
                <MudButton Color="Color.Primary" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Class="ml-2" OnClick="PlaceUser">Place User</MudButton>
            </MudPaper>
        }
        else
        {
            <span>Loading form...</span>
        }
    </DialogContent>
</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = null!;

    [Parameter][EditorRequired] public UserResponse AffectedUser { get; set; } = null!;

    [Parameter][EditorRequired] public GridSquareResponse GridSquare { get; set; } = null!;

    private static EventComparer EvComparer { get; } = new();
    private IList<UserResponse>? _availableUsers;

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    protected override async Task OnInitializedAsync()
    {
        var currentEvent = await EventsService.CurrentEventAsync();
        _availableUsers = await UsersService.GetAllAsync(new SieveModel {Filters = $"ParticipatingEventId=={currentEvent!.Id}"});

        await base.OnInitializedAsync();
    }

    private void OnInvalidSubmit()
    {
        Snackbar.Add("Could not update room as form is not filled out correctly.", Severity.Error);
    }

    private async Task PlaceUser()
    {
        var pum = new PlaceUserMessage
        {
            Grid = new GridCoordinate
            {
                X = GridSquare.X,
                Y = GridSquare.Y
            },
            UserId = AffectedUser.Id
        };
        var response = await RoomsService.PlaceUserAsync(GridSquare.RoomId, pum);
        Snackbar.Add($"User '{AffectedUser.FirstName} {AffectedUser.LastName}' placed", Severity.Success);
        MudDialog.Close(DialogResult.Ok(response));
    }

}
