.grid-container {
    overflow: auto;
    padding: 5px;
}

.grid-container-size {
    min-width: 42px;
    max-width: 42px;
    min-height: 42px;
    max-height: 42px;
}

.grid-row {
    display: flex;
    flex-wrap: nowrap;
}

.self-highlight {
    box-shadow: 0 0 0 2px inset var(--mud-palette-black);
}

.search-highlight {
    box-shadow: 0 0 0 2px inset var(--mud-palette-black);
}

.not-search-result {
    opacity: 0.2;
}

.coordinate-cell {
    font-size: 80%;
    padding: 3px 5px;
    align-content: center;
}

.grid-cell {
    border-collapse: collapse;
    font-size: 80%;
    position: relative;
    display: flex;
    transition: box-shadow ease-in 150ms;
}

.grid-cell:hover {
    box-shadow: 0 0 3px 0 inset var(--mud-palette-black);
}

.grid-cell::after {
    border: 0.5px solid var(--mud-palette-black);
    content: "";
    left: -1px;
    top: -1px;
    z-index: 3;
    background-color: transparent;
    position: absolute;
}

.search-highlighted {
    border-radius: 4px;
    box-shadow: 0 0 6px 3px inset #FCC741FF;
}
