
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.ngtt-se__container {
    display: inline-block;
    box-sizing: border-box !important;
}

.ngtt-se__match-component-container {
    display: flex;
    height: 100px;
    width: 350px;
    background-color: transparent;
    box-sizing: border-box !important;
}

.ngtt-se__bracket-wrapper {
    display: flex;
    flex-direction: row;
    box-sizing: border-box !important;
}

.ngtt-se__round-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 400px;
    box-sizing: border-box !important;
}

.ngtt-se__match-wrapper {
    display: flex;
    flex-grow: 1;
    align-items: center;
    height: 130px;
    width: 400px;
    padding: 15px 25px;
    position: relative;
    box-sizing: border-box !important;
}

.ngtt-se__match-wrapper::after {
    display: flex;
    flex-grow: 1;
    right: 0;
    position: absolute;
    width: 25px;
    height: 50%;
    border-right: 2px solid goldenrod;
    content: '';
    box-sizing: border-box !important;
}

.ngtt-se__match-wrapper::before {
    display: flex;
    flex-grow: 1;
    left: 0;
    top: 50%;
    position: absolute;
    width: 25px;
    border-top: 2px solid goldenrod;
    content: '';
    box-sizing: border-box !important;
}

.ngtt-se__match-wrapper:nth-child(odd)::after {
    top: 50%;
    border-top-right-radius: 0;
    border-top: 2px solid goldenrod;
}

.ngtt-se__match-wrapper:nth-child(even)::after {
    top: 0;
    border-bottom-right-radius: 0;
    border-bottom: 2px solid goldenrod;
}

.ngtt-se__match-wrapper:first-child:last-child::after {
    display: none;
}

.ngtt-se__round-wrapper:first-child > .ngtt-se__match-wrapper::before {
    display: none;
}

.ngtt-se__finale-match-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    height: 130px;
    width: 400px;
    padding: 15px 25px;
    position: relative;
    box-sizing: border-box !important;
}

.ngtt-se__finale-match-wrapper > .ngtt-se__finale-component-container {
    display: block;
    height: 100px;
    width: 350px;
    background-color: transparent;
    margin-bottom: 30px;
}

.ngtt-se__finale-match-wrapper::before {
    display: flex;
    flex-grow: 1;
    left: 0;
    top: 50%;
    position: absolute;
    width: 25px;
    border-top: 2px solid goldenrod;
    content: '';
}
