@using Clanwars.TournamentManager.Lib.Messages.Tournaments
@using Clanwars.TournamentManager.Lib.Messages.User
@using MudBlazor.Utilities
@inject IDialogService DialogService
@inject IEventsService EventsService
@inject IRoomsService RoomsService

<MudPaper Outlined="true" MinWidth="100%" MinHeight="100%" Class="@WrappingClassname()">
    <div class="d-flex justify-space-around align-center flex-grow-1">
        @{
            var team1MatchScore = Match.Scores.First();
            var team2MatchScore = Match.Scores.Last();
            var winnerId = team1MatchScore.Score > team2MatchScore.Score ? 1 : 2;
        }
        <div class="d-flex flex-column align-center">
            @if (team1MatchScore.TournamentTeam != null)
            {
                var fontStyle = winnerId == 1 && team1MatchScore.Score != null ? "font-weight: bold; color: #ffa800;" : "";
                <div class="py-2" style="@fontStyle">
                    @if (!team1MatchScore.TournamentTeam.IsByeTeam())
                    {
                        <a href="@("rooms?" + string.Join("&", team1MatchScore.TournamentTeam.Members.Select(ttmr => "searchUserId=" + ttmr.MemberId)))" style="@fontStyle">
                            @(team1MatchScore.TournamentTeam.IsSinglePersonTeam() ? team1MatchScore.TournamentTeam.Members.First().Member.Nickname : team1MatchScore.TournamentTeam.Name)
                        </a>
                    }
                    else
                    {
                        <p>Freilos</p>
                    }
                </div>
                @if (team1MatchScore.Score != null)
                {
                    if (!team1MatchScore.TournamentTeam.IsByeTeam())
                    {
                        <span style="@fontStyle">@team1MatchScore.Score</span>
                    }
                }
                else
                {
                    <span>__</span>
                }
            }
            else
            {
                <span>?</span>
            }
        </div>
        <div>
            @if (Match.IsScoreable() && (Match.IsUsersMatch(User) || UserIsTournamentModerator))
            {
                <MudIconButton Icon="@Icons.Material.Rounded.SportsScore" Color="Color.Primary" Variant="Variant.Outlined" OnClick="@ScoreMatch"/>
            }
            else
            {
                @(":")
            }
        </div>
        <div class="d-flex flex-column align-center">
            @if (team2MatchScore.TournamentTeam != null)
            {
                var fontStyle = winnerId == 2 && team2MatchScore.Score != null ? "font-weight: bold; color: #ffa800;" : "";
                <div class="py-2" style="@fontStyle">
                    @if (!team2MatchScore.TournamentTeam.IsByeTeam())
                    {
                        <a href="@("rooms?" + string.Join("&", team2MatchScore.TournamentTeam.Members.Select(ttmr => "searchUserId=" + ttmr.MemberId)))" style="@fontStyle">
                            @(team2MatchScore.TournamentTeam.IsSinglePersonTeam() ? team2MatchScore.TournamentTeam.Members.First().Member.Nickname : team2MatchScore.TournamentTeam.Name)
                        </a>
                    }
                    else
                    {
                        <p>Freilos</p>
                    }
                </div>

                @if (team2MatchScore.Score != null)
                {
                    if (!team2MatchScore.TournamentTeam.IsByeTeam())
                    {
                        <span style="@fontStyle">@team2MatchScore.Score</span>
                    }
                }
                else
                {
                    <span>__</span>
                }
            }
            else
            {
                <span>?</span>
            }
        </div>
    </div>
</MudPaper>

@code {

    [Parameter][EditorRequired] public TournamentMatchResponse Match { get; set; } = null!;

    [Parameter][EditorRequired] public UserResponse User { get; set; } = null!;

    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; } = null!;

    private bool UserIsTournamentModerator { get; set; }

    private string WrappingClassname()
    {
        var cssBuilder = new CssBuilder();
        cssBuilder.AddClass("d-flex");

        var isMyMatch = Match.Scores.Any(ms => ms.TournamentTeam != null && ms.TournamentTeam.Members.Any(tm => tm.MemberId == User.Id));
        var isCurrentMatch = Match.Scores.All(ms => ms.Score == null && ms.TournamentTeam != null);
        if (isCurrentMatch)
        {
            cssBuilder.AddClass("border-4");
        }
        if (isMyMatch)
        {
            cssBuilder.AddClass("mud-border-warning");
        }

        return cssBuilder.Build();
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        var user = (await AuthenticationStateTask).User;
        if (user.IsInRole("tournament-moderator"))
        {
            UserIsTournamentModerator = true;
        }
    }

    private async Task ScoreMatch()
    {
        if (!Match.IsScoreable() || (!Match.IsUsersMatch(User) && !UserIsTournamentModerator))
        {
            return;
        }

        var parameters = new DialogParameters {["Match"] = Match, ["CurrentUser"] = User};

        var dialog = await DialogService.ShowAsync<TournamentScoreMatchDialog>("Score Tournament Match", parameters, new DialogOptions {CloseButton = true, CloseOnEscapeKey = true});
        await dialog.Result;
    }

}
