@using Clanwars.TournamentManager.Lib.Messages.Events
@using Clanwars.TournamentManager.Lib.Messages.Tournaments
@using Clanwars.TournamentManager.Lib.Enums.Tournaments
@using Sieve.Models
@using System.ComponentModel.DataAnnotations
@inject ISnackbar Snackbar
@inject ITournamentsService TournamentsService
@inject IEventsService EventsService

<MudDialog >
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Create" Class="mr-3 mb-n1"/>
            Create Tournament
        </MudText>
    </TitleContent>
    <DialogContent>
        <EditForm Model="@_model" OnValidSubmit="OnValidSubmit" OnInvalidSubmit="OnInvalidSubmit">
            <DataAnnotationsValidator/>
            <MudTextField Label="Name" @bind-Value="_model.Name" For="@(() => _model.Name)"/>
            <MudTextField Label="Players per team" @bind-Value="_model.PlayersPerTeam" For="@(() => _model.PlayersPerTeam)" InputType="InputType.Number"/>
            <MudSelect T="TournamentMode" Label="Mode" @bind-Value="_model.Mode" AnchorOrigin="Origin.BottomCenter">
                <MudSelectItem Value="TournamentMode.SingleElimination">Single Elimination</MudSelectItem>
                <MudSelectItem Value="TournamentMode.DoubleElimination">Double Elimination</MudSelectItem>
                <MudSelectItem Value="TournamentMode.Points">Points</MudSelectItem>
            </MudSelect>
            <MudSelect T="EventResponse" Label="Event" @bind-Value="_model.Event" AnchorOrigin="Origin.BottomCenter">
                @foreach (var ev in _events)
                {
                    <MudSelectItem Value="@(ev)">@(ev.Name)</MudSelectItem>
                }
            </MudSelect>
            <MudPaper Class="mt-6 mb-2 d-flex justify-end" Elevation="0">
                <MudButton OnClick="Cancel" Class="ml-2">Cancel</MudButton>
                <MudButton Color="Color.Primary" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Class="ml-2">Create Tournament</MudButton>
            </MudPaper>
        </EditForm>
    </DialogContent>
</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = null!;

    readonly EventInput _model = new();
    private IList<EventResponse> _events = new List<EventResponse>();

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _events = await EventsService.GetAllAsync(new SieveModel {Sorts = "-startDate", Filters = $"EndDate>={DateTime.Today:O}"});
    }

    private async Task OnValidSubmit(EditContext context)
    {
        var ctm = new CreateTournamentMessage
        {
            Name = _model.Name,
            EventId = _model.Event.Id,
            Mode = _model.Mode,
            PlayerPerTeam = _model.PlayersPerTeam
        };
        var newTournament = await TournamentsService.CreateAsync(ctm);
        Snackbar.Add($"Tournament \"{newTournament.Name}\" Created", Severity.Success);
        MudDialog.Close(DialogResult.Ok(newTournament));
    }

    private void OnInvalidSubmit()
    {
        Snackbar.Add("Could not create tournament as form is not filled out correctly.", Severity.Error);
    }

    private class EventInput
    {
        [Required][StringLength(30, MinimumLength = 3)]
        public string Name { get; set; } = null!;

        [Required][Range(1, 1000)] public int PlayersPerTeam { get; set; }

        [Required]
        public TournamentMode Mode { get; set; }

        [Required]
        public EventResponse Event { get; set; } = null!;
    }

}
