@inject IDialogService DialogService
@inject ICurrentUserService CurrentUserService
@inject IEventsService EventsService
@inject IStringLocalizer<UiStrings> Loc
@inject ISnackbar Snackbar
@using Clanwars.TournamentManager.Frontend.Translations
@using Clanwars.TournamentManager.Lib.Enums
@using Clanwars.TournamentManager.Lib.Enums.Tournaments
@using Clanwars.TournamentManager.Lib.Messages.Tournaments
@using Clanwars.TournamentManager.Lib.Messages.User
@inherits OwningComponentBase<ITournamentTeamsService>

@if (_currentUser == null)
{
    <MudText>Loading...</MudText>
}
else
{
    var myTeam = Tournament.GetUsersTeam(_currentUser);
    var pendingJoins = myTeam == null ? [] : myTeam.Members.Where(ttm => ttm.Permission == EntityPermission.Pending).ToList();

    <div class="my-5">
        @* show if user is not part of any team *@
        @if (myTeam == null && Tournament.State == TournamentState.OpenForRegistration)
        {
            <MudPaper Elevation="3" Class="my-5 pa-3 d-flex align-center">
                <div>
                    <img alt="Picture of cool team members" height="130px" src="assets/undraws/undraw_good_team_re_j1kc.svg"/>
                </div>
                <div class="pl-10">
                    @if (Tournament.IsSingleplayer())
                    {
                        <h3>@Loc["Tournaments.Teams.NotInATeamSingleplayer"]</h3>
                        <br/>
                        <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="CreateTeam">Sign up for tournament</MudButton>
                    }
                    else
                    {
                        <h3>@Loc["Tournaments.Teams.NotInATeamMultiplayer"]</h3>
                        <br/>
                        <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="CreateTeam">Create a new Team</MudButton>
                    }
                </div>
            </MudPaper>
        }

        @* show if user is part of a team but status is pending *@
        @if (myTeam != null && myTeam.IsJoinPending(_currentUser))
        {
            <MudPaper Elevation="3" Class="my-5 pa-3 d-flex align-center">
                <div>
                    <img alt="Picture of cool team members" height="130px" src="assets/undraws/undraw_good_team_re_j1kc.svg"/>
                </div>
                <div class="pl-10">
                    <h3>You're waiting to be approved to join the Tournament Team @myTeam.Name. Ask your Tournament Team Owner to get you approved!</h3>
                </div>
            </MudPaper>
        }

        @* show users which wait for acceptance, only shown for owners of the team *@
        @if (myTeam != null && myTeam.IsOwner(_currentUser) && pendingJoins.Count > 0)
        {
            <MudPaper Elevation="4" Class="my-5 pa-3 d-flex align-center">
                <div>
                    <img alt="Picture of joining team members" height="130px" src="assets/undraws/undraw_skateboard_d6or.svg"/>
                </div>
                <div class="pl-10">
                    <h3>There are User which want to join your Team <i>@Tournament.GetUsersTeam(_currentUser)!.Name</i></h3>
                    @foreach (var user in pendingJoins)
                    {
                        <div class="my-4 d-flex align-center">
                            <UserDisplay User="user.Member" Class="mr-5"></UserDisplay>
                            <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="async () => await AcceptTournamentTeamMemberAsync(myTeam, user)" StartIcon="@Icons.Material.Filled.Check" Size="Size.Small">Accept</MudButton>
                        </div>
                    }
                </div>
            </MudPaper>
        }


        @if (Tournament.IsMultiplayer())
        {
            <MudTable Items="@Tournament.Teams.Where(tt => !tt.IsByeTeam())" Breakpoint="Breakpoint.Sm" Elevation="0" Style="background: none">
                <RowTemplate>
                    <MudTd DataLabel="Name" Style="border-bottom-width: 0">
                        <MudText Typo="Typo.h4">@context.Name</MudText>
                        <MudText Typo="Typo.caption">Name</MudText>
                    </MudTd>
                    <MudTd DataLabel="Name" Style="border-bottom-width: 0">
                        <MudText Typo="Typo.h4">@context.Members.Count(m => m.Permission != EntityPermission.Pending)/@Tournament.PlayerPerTeam</MudText>
                        <MudText Typo="Typo.caption">Members</MudText>
                    </MudTd>
                </RowTemplate>
                <ChildRowContent>
                    <MudTr>
                        <td colspan="3" class="mud-table-cell">
                            <TournamentTeamDisplay Tournament="Tournament" CurrentUser="_currentUser" TournamentTeam="context"></TournamentTeamDisplay>
                        </td>
                    </MudTr>
                </ChildRowContent>
            </MudTable>
        }
        @if (Tournament.IsSingleplayer())
        {
            <MudTable Items="@Tournament.Teams.Where(tt => !tt.IsByeTeam())" Breakpoint="Breakpoint.Sm" Elevation="0" Style="background: none">
                <RowTemplate>
                    <MudTd DataLabel="Name" Style="border-bottom-width: 0">
                        <TournamentSingleplayerDisplay Tournament="Tournament" CurrentUser="_currentUser" TournamentTeam="context"></TournamentSingleplayerDisplay>
                    </MudTd>
                </RowTemplate>
            </MudTable>
        }
    </div>
}


@code {
    [Parameter][EditorRequired] public TournamentResponse Tournament { get; set; } = null!;

    private UserResponse? _currentUser;

    protected override async Task OnInitializedAsync()
    {
        _currentUser = await CurrentUserService.GetCurrentUser();
    }

    private async Task CreateTeam()
    {
        if (Tournament.IsSingleplayer())
        {
            var ctt = new CreateTournamentTeamMessage
            {
                Name = $"{TournamentTeamResponseExtensions.SinglePersonTeamPrefix}{Guid.NewGuid()}",
                TournamentId = Tournament.Id
            };
            await Service.CreateAsync(ctt);
            Snackbar.Add($"You joined the tournament {Tournament.Name}", Severity.Success);
        }
        else
        {
            var parameters = new DialogParameters { ["Owner"] = _currentUser, ["Tournament"] = Tournament };

            var dialog = await DialogService.ShowAsync<TournamentTeamCreateDialog>("Create Tournament Team", parameters);

            await dialog.Result;
        }
    }

    private async Task AcceptTournamentTeamMemberAsync(TournamentTeamResponse tournamentTeam, TournamentTeamMemberResponse tournamentTeamMember)
    {
        await Service.ApproveJoinAsync(tournamentTeam.Id, tournamentTeamMember.Member.Id);
    }

}
