@using System.ComponentModel.DataAnnotations
@using System.Net
@using Clanwars.TournamentManager.Lib.Messages.Tournaments
@using Clanwars.TournamentManager.Lib.Messages.User
@inject ISnackbar Snackbar

@inherits OwningComponentBase<ITournamentTeamsService>

<MudDialog >
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Create" Class="mr-3 mb-n1"/>
            Create Tournament Team
        </MudText>
    </TitleContent>
    <DialogContent>
        <EditForm Model="@_model" OnValidSubmit="OnValidSubmit" OnInvalidSubmit="OnInvalidSubmit">
            <DataAnnotationsValidator/>
            <MudTextField Label="Name" @bind-Value="_model.Name" For="@(() => _model.Name)"/>
            <MudPaper Class="mt-6 mb-2 d-flex justify-end" Elevation="0">
                <MudButton OnClick="Cancel" Class="ml-2">Cancel</MudButton>
                <MudButton Color="Color.Primary" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Class="ml-2">Create Team</MudButton>
            </MudPaper>
        </EditForm>
    </DialogContent>
</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = null!;

    [Parameter]
    public UserResponse Owner { get; set; } = null!;

    [Parameter]
    public TournamentResponse Tournament { get; set; } = null!;

    readonly EventInput _model = new();

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    private async Task OnValidSubmit(EditContext context)
    {
        var ctt = new CreateTournamentTeamMessage
        {
            Name = _model.Name,
            TournamentId = Tournament.Id
        };
        try
        {
            var tournamentTeam = await Service.CreateAsync(ctt);
            Snackbar.Add($"Team \"{tournamentTeam.Name}\" created", Severity.Success);
            MudDialog.Close(DialogResult.Ok(tournamentTeam));
        }
        catch (HttpRequestException ex) when (ex.StatusCode == HttpStatusCode.BadRequest)
        {
        }
    }

    private void OnInvalidSubmit()
    {
        Snackbar.Add("Could not create event as form is not filled out correctly.", Severity.Error);
    }

    private class EventInput
    {
        [Required][StringLength(30, MinimumLength = 5)]
        public string Name { get; set; } = null!;
    }

}
