@using Clanwars.TournamentManager.Lib.Messages.Tournaments
@inject ISnackbar Snackbar

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.DeleteForever" Class="mr-3 mb-n1"/>
            Delete tournament?
        </MudText>
    </TitleContent>
    <DialogContent>
        <p>Do you really want to delete this Tournament?</p>
        <MudText>@Tournament.Name</MudText>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Error" OnClick="DeleteTournament">Delete Tournament</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = null!;

    [Parameter]
    public TournamentResponse Tournament { get; set; } = new();

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    private void DeleteTournament()
    {
    //In a real world scenario this bool would probably be a service to delete the item from api/database
        Snackbar.Add($"Tournament \"{Tournament.Name}\" deleted!", Severity.Success);
        MudDialog.Close(DialogResult.Ok(Tournament));
    }

}
