@using Clanwars.TournamentManager.Lib.Messages
@using Clanwars.TournamentManager.Lib.Messages.Tournaments
@inject ISnackbar Snackbar
@inject IImagesService ImagesService
@inject IJSRuntime JsRuntime

<MudDialog >
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Create" Class="mr-3 mb-n1"/>
            Update tournament image
        </MudText>
    </TitleContent>
    <DialogContent>
        <InputFile OnChange="OnInputFileChange"></InputFile>
        @if (_byteResult != null)
        {
            <h3 class="mt-4">Crop Result:</h3>
            <img id="result-img" width="100%"/>
        }
        @if (_file != null)
        {
            <Cropper ImageFile="_file" @ref="_cropper" AspectRatio="0.15" CropperHeight="650" RequireAspectRatio="true"></Cropper>
        }
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Info" Variant="Variant.Filled" OnClick="DoneCrop" Disabled="_file == null">Preview</MudButton>
        <MudButton Color="Color.Success" Variant="Variant.Filled" OnClick="Submit" Disabled="_byteResult == null">Save</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = null!;

    [Parameter]
    public TournamentResponse Tournament { get; set; } = null!;

    private Cropper _cropper = null!;
    private IBrowserFile? _file;
    private byte[]? _byteResult;

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    async Task DoneCrop()
    {
        var args = await _cropper.GetCropedResult();
        _file = null;
        _byteResult = await args.GetDataAsync();
        StateHasChanged();
        await Task.Delay(10); // a hack, otherwise prompt won't show
        await JsRuntime.SetImageAsync(_byteResult, "result-img", args.Format.DefaultMimeType);
    }

    void OnInputFileChange(InputFileChangeEventArgs args)
    {
        _byteResult = null;
        _file = args.File;
    }

    private async Task Submit()
    {
        if (_byteResult == null) return;

        var base64String = Convert.ToBase64String(_byteResult, 0, _byteResult.Length);

        var iu = new ImageUpload
        {
            DataUrl = "data:image/jpeg;base64," + base64String
        };
        await ImagesService.SetTournamentImageAsync(Tournament.Id, iu);
        Snackbar.Add($"Image of \"{Tournament.Name}\" was updated", Severity.Success);
        MudDialog.Close(DialogResult.Ok(Tournament));
    }

}
