@using Clanwars.TournamentManager.Lib.Messages.Tournaments
@using Clanwars.TournamentManager.Lib.Extensions
@inject ISnackbar Snackbar
@inject ITournamentsService TournamentsService
@inject IEventsService EventsService

@if (_match?.Scores is null || _match.Scores.Count < 1)
{
    <span>Loading...</span>
}
else
{
    <MudDialog >
        <TitleContent>
            <MudText Typo="Typo.h6">
                <MudIcon Icon="@Icons.Material.Filled.Scoreboard" Class="mr-3 mb-n1"/>
                Score Match
            </MudText>
        </TitleContent>
        <DialogContent>
            <MudText Typo="Typo.caption">Points Match: The higher the better</MudText>
            <EditForm Model="@_match" OnValidSubmit="OnValidSubmit" OnInvalidSubmit="OnInvalidSubmit">
                <DataAnnotationsValidator/>

                @foreach (var t in _match.Scores)
                {
                    <MudNumericField @bind-Value="t.Score" For="() => t.Score" Label="@(t.TournamentTeam!.IsSinglePersonTeam() ? t.TournamentTeam!.Members.First().Member.Nickname : t.TournamentTeam!.Name)"/>
                }

                <MudPaper Class="mt-6 mb-2 d-flex justify-end" Elevation="0">
                    <MudButton OnClick="Cancel" Class="ml-2">Cancel</MudButton>
                    <MudButton Color="Color.Primary" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Class="ml-2">Score</MudButton>
                </MudPaper>
            </EditForm>
        </DialogContent>
    </MudDialog>
}

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = null!;

    [Parameter]
    public TournamentMatchResponse Match { get; set; } = null!;

    public TournamentMatchResponse? _match { get; set; }

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    protected override async Task OnInitializedAsync()
    {
        _match = Match.SerializeToJsonString().DeserializeJsonString<TournamentMatchResponse>()!;
        await base.OnInitializedAsync();
    }

    private async Task OnValidSubmit(EditContext context)
    {
        if (_match is null)
        {
            return;
        }

        if (_match.Scores.Any(s => s.Score is null or < 0))
        {
            Snackbar.Add("Cannot score a match without scoring ALL teams", Severity.Error);
            return;
        }

        var smm = new ScoreMatchMessage
        {
            Scores = _match.Scores.Select(s => new SetTeamScore
            {
                Score = s.Score!.Value,
                TournamentTeamId = s.TournamentTeam!.Id
            }).ToList()
        };

        try
        {
            var matchResponse = await TournamentsService.ScoreMatchAsync(Match.Id, smm);
            Snackbar.Add("Match scored", Severity.Success);
            MudDialog.Close(DialogResult.Ok(matchResponse));
        }
        catch (HttpRequestException)
        {
        }
    }

    private void OnInvalidSubmit()
    {
        Snackbar.Add("Could not score match as form is not filled out correctly.", Severity.Error);
    }

}
