@inherits RoomGridSquareBase

<MudTooltip Text="Door">
    <RoomGridRotationContainer Rotation="@Rotation" Class="@Class" Style="@Style" UserAttributes="@UserAttributes">
        <RoomGridIconContainer>
            <MudIcon Icon="@Icons.Material.Filled.ArrowUpward" Color="Color.Default"></MudIcon>
        </RoomGridIconContainer>
        <div class="door--left">
        </div>
        <div class="door--right">
        </div>
    </RoomGridRotationContainer>
</MudTooltip>
