.stage-corner {
    position: absolute;
    width: 62.5%;
    height: 25%;
    left: 0;
    z-index: 2;
    top: calc(75% / 2);
    border-top: 1px solid var(--mud-palette-primary-lighten);
    border-bottom: 1px solid var(--mud-palette-primary-lighten);
    border-right: 1px solid var(--mud-palette-primary-lighten);
    background-color: var(--mud-palette-black);
}

.stage-corner--short {
    z-index: 3;
    position: absolute;
    width: 25%;
    height: calc(100% / 2 - 25% / 2 + 4%);
    left: calc(75% / 2);
    border-left: 1px solid var(--mud-palette-primary-lighten);
    border-right: 1px solid var(--mud-palette-primary-lighten);
    background-color: var(--mud-palette-black);
    bottom: 0;
}
