@inject IAuthorizationService AuthorizationService
@inject IDialogService DialogService

@using Clanwars.TournamentManager.Lib.Messages.User
@using Clanwars.TournamentManager.Lib.Messages.Rooms
@using Clanwars.TournamentManager.Lib.Enums.Rooms
@inherits RoomGridSquareBase

<MudTooltip>
    <TooltipContent>
        @if (GridSquare.User != null)
        {
            <UserDisplay User="GridSquare.User" Class="pt-1"></UserDisplay>
            <MudDivider Class="my-2"></MudDivider>
        }
        <MudText Typo="Typo.caption">@TooltipText</MudText>
    </TooltipContent>
    <ChildContent>
        <div class="@(UserIsTournamentModerator && EnableSeatManagement ? " pointer" : "")" @onclick="SeatClicked">
            <RoomGridRotationContainer Rotation="@Rotation" Class="@(Class)" Style="@Style" UserAttributes="@UserAttributes">
                @if (GridSquare.User == null)
                {
                    <div class="seat bg-seat-empty @(GridSquare.Type == GridSquareType.SeatTechSupport ? "seat-border-tech" : "") @(GridSquare.Type == GridSquareType.SeatTournamentSupport ? "seat-border-tournament" : "") @(GridSquare.Type == GridSquareType.SeatCashier ? "seat-border-cash" : "")">
                        @* <RoomGridIconContainer Style="height: 100%"> *@
                        @*     <MudIcon Icon="@Icons.Outlined.Person"></MudIcon> *@
                        @* </RoomGridIconContainer> *@
                    </div>
                    <div class="stool @(GridSquare.Type == GridSquareType.SeatTechSupport ? "seat-border-tech" : "") @(GridSquare.Type == GridSquareType.SeatTournamentSupport ? "seat-border-tournament" : "") @(GridSquare.Type == GridSquareType.SeatCashier ? "seat-border-cash" : "")"></div>
                }
                else
                {
                    <div class="seat bg-seat-occupied @(GridSquare.Type == GridSquareType.SeatTechSupport ? "seat-border-tech" : "") @(GridSquare.Type == GridSquareType.SeatTournamentSupport ? "seat-border-tournament" : "") @(GridSquare.Type == GridSquareType.SeatCashier ? "seat-border-cash" : "") @(CurrentUser?.Id == GridSquare.User.Id ? "bg-seat-occupied-me" : "")">
                        <RoomGridIconContainer Style="height: 100%">
                            <MudIcon Icon="@Icons.Material.Filled.Person"></MudIcon>
                        </RoomGridIconContainer>
                    </div>
                    <div class="stool stool-occupied @(GridSquare.Type == GridSquareType.SeatTechSupport ? "seat-border-tech" : "") @(GridSquare.Type == GridSquareType.SeatTournamentSupport ? "seat-border-tournament" : "") @(GridSquare.Type == GridSquareType.SeatCashier ? "seat-border-cash" : "") @(CurrentUser?.Id == GridSquare.User.Id ? "stool-occupied-me" : "")"></div>
                }
            </RoomGridRotationContainer>
        </div>
    </ChildContent>
</MudTooltip>

@code{

    [Parameter][EditorRequired] public UserResponse CurrentUser { get; set; } = null!;

    [Parameter][EditorRequired] public GridSquareResponse GridSquare { get; set; } = null!;

    [Parameter]
    public UserResponse? UserToPlace { get; set; }

    [Parameter]
    public bool EnableSeatManagement { get; set; } = true;

    /// Event is fired after a user was placed
    [Parameter]
    public EventCallback<GridSquareResponse> UserPlaced { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; } = null!;

    private string TooltipText { get; set; } = null!;
    private bool UserIsTournamentModerator { get; set; } = false;

    protected override async Task OnParametersSetAsync()
    {
        TooltipText = GridSquare.Type switch
        {
            GridSquareType.SeatDefault => "Seat [" + GridSquare.Y + "-" + GridSquare.X + "]",
            GridSquareType.SeatTechSupport => "Tech Support",
            GridSquareType.SeatTournamentSupport => "Tournament Support",
            GridSquareType.SeatCashier => "Cashier",
            _ => TooltipText
            };

        var user = (await AuthenticationStateTask).User;
        if (user.IsInRole("tournament-moderator"))
        {
            UserIsTournamentModerator = true;
        }

        await base.OnParametersSetAsync();
    }

    private async Task SeatClicked()
    {
        if (!UserIsTournamentModerator || !EnableSeatManagement)
        {
            return;
        }

        if (UserToPlace == null)
        {
            Console.WriteLine("No user selected for placing");
            return;
        }

        var parameters = new DialogParameters {["AffectedUser"] = UserToPlace, ["GridSquare"] = GridSquare};

        var dialog = await DialogService.ShowAsync<PlaceUserDialog>("Place User", parameters, new DialogOptions {FullScreen = false, CloseButton = true, CloseOnEscapeKey = true, FullWidth = true});
        var result = await dialog.Result;
        await UserPlaced.InvokeAsync((GridSquareResponse) result.Data);
    }

}
