@inherits RoomGridSquareBase

<MudTooltip Text="Bar">
    <RoomGridRotationContainer Rotation="@Rotation" Class="@Class" Style="@Style" UserAttributes="@UserAttributes">
        <RoomGridIconContainer>
            <MudIcon Icon="@Icons.Material.Filled.SportsBar" Color="Color.Default"/>
        </RoomGridIconContainer>
    </RoomGridRotationContainer>
</MudTooltip>
