@inherits RoomGridSquareBase

<RoomGridRotationContainer Rotation="Rotation" class="@Class" style="@Style" @attributes="@UserAttributes">
    <div class="wall-t--long"></div>
    <div class="wall-t--short"></div>
</RoomGridRotationContainer>
