@inherits RoomGridSquareBase

<RoomGridRotationContainer Rotation="@Rotation" Class="@Class" Style="@Style" UserAttributes="@UserAttributes">
    <div class="wall-line"></div>
</RoomGridRotationContainer>
