@inherits RoomGridSquareBase

<MudTooltip Text="Bar">
    <RoomGridRotationContainer Rotation="@Rotation" Class="@Class" Style="@Style" UserAttributes="@UserAttributes">
        <div class="bar-counter-corner"></div>
        <div class="bar-counter-corner--short"></div>
    </RoomGridRotationContainer>
</MudTooltip>
