@inherits RoomGridSquareBase

<RoomGridRotationContainer Rotation="Rotation" class="@Class" style="@Style" @attributes="@UserAttributes">
    <div class="wall-x--short wall-x--short-top"></div>
    <div class="wall-x--long"></div>
    <div class="wall-x--short wall-x--short-bottom"></div>
</RoomGridRotationContainer>
