.wall-line {
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    top: calc(75% / 2);
    border-top: 1px solid var(--mud-palette-primary-lighten);
    border-bottom: 1px solid var(--mud-palette-primary-lighten);
    background-color: var(--mud-palette-primary);
}
