.beamer-view-dispatcher-container {
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
}

.video-container {
    position: fixed;
    top: 0;
    left: -6%;
    min-height: 100vh;
    max-height: 100vh;
    width: 112vw;
    display: block;
    overflow: hidden;
}

.content-container {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    max-height: 100vh;
    width: 100vw;
    display: block;
    overflow: hidden;
    z-index: 1000;
}

@keyframes slideIn {
    from {
        bottom: -200%;
        min-height: 100vh;
    }
    to {
        bottom: 0%;
    }
}

.container-slide-in {
    animation: slideIn 1500ms ease-out;
}
