@using Clanwars.TournamentManager.Lib.Messages.User
@using Clanwars.TournamentManager.Lib.Signalr.BeamerHubMessages
@inject IUsersService UsersService

@if (_userToWelcome is not null)
{
    <div class="d-flex justify-center" style="min-height: 100vh">
        <div class="d-flex flex-column justify-center">
            <div class="item-background pa-3 d-flex flex-column text-align-center" style="min-width: 40vw; max-width:  80vw; border-radius: 1rem;">
                <MudText Typo="Typo.h4" Class="ma-4 align-self-center">
                    Herzlich Willkommen!
                </MudText>
                <div class="mud-typography-h3 text-truncate pa-5 align-self-center" style="text-shadow: 0 0 10px #FFFFFF, 0 0 20px #FFFFFF, 0 0 30px #FFFFFF, 0 0 40px @AccentColor, 0 0 70px @AccentColor">
                    @(_userToWelcome.Nickname ?? _userToWelcome.FirstName + " " + _userToWelcome.LastName)
                    <!--          {{shadowProperty.textShadow}}-->
                </div>
            </div>
        </div>
    </div>
}

@code {
    private UserResponse? _userToWelcome;

    [Parameter]
    [EditorRequired]
    public WelcomeBeamerHubMessage WelcomeBeamerHubMessage { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public string AccentColor { get; set; } = null!;

    protected override async Task OnParametersSetAsync()
    {
        _userToWelcome = await UsersService.GetAsync(WelcomeBeamerHubMessage.UserId);
        await base.OnParametersSetAsync();
    }

}
