﻿@page "/admission"

@attribute [Authorize(Roles = "tournament-moderator")]
@inject IDialogService DialogService
@inject IUsersService UsersService
@inject IUserStoreService UserStoreService
@inject IEventsService EventService
@inject IRoomsService RoomsService
@inject INotificationsService NotificationsService
@inject IPaymentSystemService PaymentSystem
@inject ISnackbar Snackbar
@using Clanwars.TournamentManager.Lib.Messages.Events
@using Clanwars.TournamentManager.Lib.Messages.Rooms
@using Clanwars.TournamentManager.Lib.Messages.User
@using Clanwars.TournamentManager.Lib.Messages.UserStore
@using Sieve.Models
@using Clanwars.PaymentSystem.Lib.Messages.Account
@using Clanwars.TournamentManager.Frontend.Shared.Components.PaymentSystem
@using Clanwars.TournamentManager.Lib.Signalr.NotificationsHubMessages
@implements IDisposable

<PageTitle>Admission</PageTitle>

@if (_currentEvent != null)
{
    <MudPaper class="my-5" Elevation="1">
        <MudFocusTrap>
            <MudTabs Outlined="false" Position="Position.Top" Rounded="false" Border="true" ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6" @bind-ActivePanelIndex="_mudTabsActiveIndex">
                <MudTabPanel Text="Select User" Disabled="false" OnClick="RestartWizard">
                    <MudExpansionPanels Style="width: 100%">
                        <MudExpansionPanel Text="Find existing user" Expanded="true">
                            <MudTextField DebounceInterval="100" OnDebounceIntervalElapsed="FindUser" T="string" InputType="InputType.Text" Label="Email, Name or Nickname" Variant="Variant.Text" Placeholder="minimum 3 characters" OnKeyDown="async args => await OnUserSearchFieldKeyDown(args)" UserAttributes="@(new Dictionary<string, object?> { { "autocomplete", "mud-disabled-" + Guid.NewGuid() } })"></MudTextField>
                            <MudList T="UserStoreResponse" Class="mt-3" ReadOnly="false">
                                @foreach (var u in _foundUsers)
                                {
                                    <MudListItem OnClick="async () => await SelectUser(u)">
                                        <AvatarContent>
                                            <MudAvatar>
                                                <MudIcon Icon="@Icons.Material.Filled.Person"></MudIcon>
                                            </MudAvatar>
                                        </AvatarContent>
                                        <ChildContent>
                                            <MudText>@u.FirstName @u.LastName</MudText>
                                            <MudText>@u.Email</MudText>
                                        </ChildContent>
                                    </MudListItem>
                                }
                            </MudList>
                        </MudExpansionPanel>
                        <MudExpansionPanel Text="Create new User">
                            <UserCreateForm User="_newUserStoreUser" OnUserCreated="async newUser => await SelectUser(newUser)"></UserCreateForm>
                        </MudExpansionPanel>
                    </MudExpansionPanels>
                </MudTabPanel>
                <MudTabPanel Text="Event Registration" Disabled="@(_selectedUser == null)">
                    @if (_selectedUser!.Events.All(e => e.Id != _currentEvent.Id))
                    {
                        <MudPaper Elevation="0">Register user</MudPaper>
                        <MudCard Class="d-inline-flex mt-3 mb-3" Elevation="3">
                            <MudCardContent>
                                <UserDisplay User="_selectedUser" ShowEmail="true"></UserDisplay>
                            </MudCardContent>
                        </MudCard>
                        <MudPaper Elevation="0" Class="mb-3">for event @(_currentEvent.Name) ?</MudPaper>
                        <MudButton OnClick="async () => await RegisterUserForEventAsync(_selectedUser, _currentEvent)" Color="Color.Success" Variant="Variant.Filled">Register</MudButton>
                        <MudButton OnClick="RestartWizard" Color="Color.Warning" Variant="Variant.Outlined" Class="ml-3">Restart Wizard</MudButton>
                    }
                    else
                    {
                        <MudPaper Elevation="0">User</MudPaper>
                        <MudCard Class="d-inline-flex mt-3 mb-3" Elevation="3">
                            <MudCardContent>
                                <UserDisplay User="_selectedUser"></UserDisplay>
                            </MudCardContent>
                        </MudCard>
                        <MudPaper Elevation="0" Class="mb-3">is already registered for event @(_currentEvent.Name) !</MudPaper>
                        <MudPaper Class="mt-3" Elevation="0">
                            <MudButton OnClick="async () => await RemoveUserFromEventAsync(_selectedUser, _currentEvent)" Color="Color.Error" Variant="Variant.Filled">Unregister</MudButton>
                        </MudPaper>
                        <MudPaper Class="mt-5" Elevation="0">
                            <MudButton OnClick="GotoNextStep" Color="Color.Success" Variant="Variant.Outlined">Skip</MudButton>
                            <MudButton OnClick="RestartWizard" Color="Color.Warning" Variant="Variant.Outlined" Class="ml-3">Restart Wizard</MudButton>
                        </MudPaper>
                    }
                </MudTabPanel>
                <MudTabPanel Text="Place User" Disabled="@(_selectedUser == null || _selectedUser.Events.All(e => e.Id != _currentEvent.Id))">
                    <MudList ReadOnly="false" @bind-SelectedValue="_selectedRoomValue">
                        @foreach (var room in _rooms)
                        {
                            <MudListItem Text="@room.Name" Value="room" Icon="@Icons.Material.Filled.ArrowRight"/>
                        }
                    </MudList>
                    @if (_selectedRoomValue is not null)
                    {
                        <RoomGrid Room="(RoomResponse)_selectedRoomValue" CurrentUser="_selectedUser" UserToPlace="_selectedUser" UserPlaced="UserPlaced"></RoomGrid>
                    }
                    <MudPaper Class="mt-5" Elevation="0">
                        <MudButton OnClick="GotoNextStep" Color="Color.Success" Variant="Variant.Outlined">Skip</MudButton>
                        <MudButton OnClick="RestartWizard" Color="Color.Warning" Variant="Variant.Outlined" Class="ml-3">Restart Wizard</MudButton>
                    </MudPaper>
                </MudTabPanel>
                <MudTabPanel Text="Payment Card" Disabled="@(_selectedUser == null)">
                    @if (_selectedPaymentAccount != null)
                    {
                        <MudCard Outlined="true">
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudText Typo="Typo.h6">Payment Account</MudText>
                                </CardHeaderContent>
                            </MudCardHeader>
                            <MudSimpleTable Hover="true" Dense="true" Elevation="0">
                                <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>@_selectedPaymentAccount.FirstName @_selectedPaymentAccount.LastName</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>@_selectedPaymentAccount.Email</td>
                                </tr>
                                <tr>
                                    <td>Current Balance</td>
                                    <td>@(_selectedPaymentAccount.Balance.ToString("C"))</td>
                                </tr>
                                <tr>
                                    <td>Discount</td>
                                    <td>@_selectedPaymentAccount.Discount.ToString("P0")</td>
                                </tr>
                                <tr>
                                    <td>Overdraft</td>
                                    <td>@(_selectedPaymentAccount.Overdraft.ToString("C"))</td>
                                </tr>
                                <tr>
                                    <td>Locked</td>
                                    <td>@(_selectedPaymentAccount.Locked)</td>
                                </tr>
                                <tr>
                                    <td>CardId</td>
                                    <td>
                                        <div class="d-flex align-center">
                                            @if (_selectedPaymentAccount.CardId is null or "")
                                            {
                                                <MudIcon Icon="@Icons.Material.Filled.CreditCardOff" Color="Color.Warning" Size="Size.Large"></MudIcon>
                                            }
                                            else
                                            {
                                                <MudIcon Icon="@Icons.Material.Filled.CreditCard" Color="Color.Success" Size="Size.Large"></MudIcon>
                                                <MudText>@(_selectedPaymentAccount.CardId)</MudText>
                                            }
                                            <MudButton OnClick="async () => await ShowPaymentSystemUpdateCardDialogAsync(_selectedUser!)" Color="@(_selectedPaymentAccount.CardId == null ? Color.Primary : Color.Warning)" Variant="Variant.Filled" Class="ml-3">Update CardId</MudButton>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </MudSimpleTable>
                        </MudCard>
                    }
                    else
                    {
                        <MudCard Outlined="true">
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudText Typo="Typo.h6">No account yet</MudText>
                                </CardHeaderContent>
                            </MudCardHeader>
                            <MudCardContent>
                                <MudText>This user does not have an payment system account yet.</MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton OnClick="async () => await CreatePaymentSystemAccountAsync(_selectedUser)" Color="Color.Primary" Variant="Variant.Filled" Class="mt-3">Create Account</MudButton>
                            </MudCardActions>
                        </MudCard>
                    }
                    <MudPaper Class="mt-5" Elevation="0">
                        <MudButton OnClick="RestartWizard" Color="Color.Warning" Variant="Variant.Outlined" Class="mt-3">Restart Wiard</MudButton>
                    </MudPaper>
                </MudTabPanel>
            </MudTabs>
        </MudFocusTrap>
    </MudPaper>
}

@code {

    private EventResponse? _currentEvent;
    private IList<RoomResponse>? _rooms;
    private readonly List<UserStoreResponse> _foundUsers = [];
    private UserStoreResponse _newUserStoreUser = new();
    private UserResponse? _selectedUser;
    private int _mudTabsActiveIndex;

    private object? _selectedRoomValue;
    private AccountInfo? _selectedPaymentAccount;

    protected override async Task OnInitializedAsync()
    {
        _currentEvent = await EventService.CurrentEventAsync();
        if (_currentEvent is not null)
        {
            await LoadRooms();
        }

        NotificationsService.RoomsChanged += HandleRoomsChangedAsync;
    }

    private async Task HandleRoomsChangedAsync(object? sender, RoomHubMessage e)
    {
        await LoadRooms();
    }

    private async Task LoadRooms()
    {
        _rooms = await RoomsService.GetAllAsync(new SieveModel { Filters = $"eventId=={_currentEvent!.Id}" });
        if (_rooms.Count == 1)
        {
            _selectedRoomValue = _rooms.First();
        }

        if (_selectedRoomValue is RoomResponse room)
        {
            var newRoom = _rooms.SingleOrDefault(r => r.Id == room.Id);
            if (newRoom != null)
            {
                _selectedRoomValue = newRoom;
            }
        }

        StateHasChanged();
    }

    private void RestartWizard()
    {
        _selectedUser = null;
        _newUserStoreUser = new UserStoreResponse();
        _foundUsers.Clear();
        _selectedPaymentAccount = null;
        _mudTabsActiveIndex = 0;
    }

    private async Task FindUser(string searchString)
    {
        if (searchString.Length < 3)
        {
            _foundUsers.Clear();
            return;
        }

        var usersFoundForNickname = await UsersService.GetAsync(new SieveModel { Filters = $"nickname@={searchString}" });
        var userSearchResponses = new List<UserStoreResponse>();

        var searchTasks = new List<Task<IEnumerable<UserStoreResponse>>>();
        searchTasks.Add(UserStoreService.FindExternalUsers(searchString));  // direct search in external provider by searchString 
        
        foreach (var userToFind in usersFoundForNickname.Results)
        {
            searchTasks.Add(UserStoreService.FindExternalUsers(userToFind.Email));
        }

        var all = await Task.WhenAll(searchTasks);
        userSearchResponses.AddRange(all.SelectMany(u => u));

        var allResults = userSearchResponses.DistinctBy(u => u.Id).OrderBy(u => u.FirstName);

        _foundUsers.Clear();
        _foundUsers.AddRange(allResults);
    }

    private async Task SelectUser(UserStoreResponse userStore)
    {
        var existingUser = await UsersService.GetAsync(new SieveModel { Filters = $"email=={userStore.Email}" });
        _selectedUser = existingUser.TotalCount > 0 ? existingUser.Results.First() : await UsersService.CreateUserSkeletonAsync(userStore.Email, userStore.FirstName, userStore.LastName);
        _selectedPaymentAccount = await PaymentSystem.GetAccountByEmailAsync(_selectedUser.Email);
        _mudTabsActiveIndex = 1;
    }

    private async Task OnUserSearchFieldKeyDown(KeyboardEventArgs e)
    {
        if (e.Code is "Enter" or "NumpadEnter")
        {
            if (_foundUsers.Count == 1)
            {
                await SelectUser(_foundUsers.Single());
            }
        }
    }

    private async Task RegisterUserForEventAsync(UserResponse selectedUser, EventResponse @event)
    {
        var result = await DialogService.ShowMessageBox(
            "Warning",
            "Password will be resetted to users E-Mail.",
            yesText: "Okay", cancelText: "Cancel"
        );

        if (result is null or false)
        {
            return;
        }

        await EventService.JoinEventAsync(@event.Id, new JoinEventMessage { UserId = selectedUser.Id });
        _selectedUser = await UsersService.GetAsync(selectedUser.Id);

        await UserStoreService.ResetPassword(selectedUser.Id);

        _mudTabsActiveIndex = 2;
    }

    private void GotoNextStep()
    {
        _mudTabsActiveIndex += 1;
    }

    private async Task RemoveUserFromEventAsync(UserResponse selectedUser, EventResponse @event)
    {
        await EventService.LeaveEventAsync(@event.Id, new LeaveEventMessage { UserId = selectedUser.Id });
        _selectedUser = await UsersService.GetAsync(selectedUser.Id);
    }

    public void Dispose()
    {
        NotificationsService.RoomsChanged -= HandleRoomsChangedAsync;
    }

    private void UserPlaced()
    {
        _mudTabsActiveIndex = 3;
    }

    private async Task CreatePaymentSystemAccountAsync(UserResponse selectedUser)
    {
        var cam = new CreateAccountMessage
        {
            Email = selectedUser.Email,
            FirstName = selectedUser.FirstName,
            LastName = selectedUser.LastName,
            Discount = 0,
            Overdraft = 0
        };
        var newAccount = await PaymentSystem.CreateAsync(cam);
        Snackbar.Add($"Created Payment account  for '{selectedUser.FirstName} {selectedUser.LastName}'", Severity.Success);
        _selectedPaymentAccount = newAccount;
    }

    private async Task ShowPaymentSystemUpdateCardDialogAsync(UserResponse selectedUser)
    {
        var dialog = await DialogService.ShowAsync<SelectCardDialog>("Card Selector", new DialogOptions { CloseButton = true, FullWidth = true, CloseOnEscapeKey = true });

        var dialogResult = await dialog.Result;
        if (!dialogResult.Canceled && _selectedPaymentAccount is not null)
        {
            var cardInfo = (CardInfo)dialogResult.Data;
            var uam = new UpdateAccountMessage
            {
                Email = _selectedPaymentAccount.Email,
                Discount = _selectedPaymentAccount.Discount,
                Locked = _selectedPaymentAccount.Locked,
                Overdraft = _selectedPaymentAccount.Overdraft,
                FirstName = _selectedPaymentAccount.FirstName,
                LastName = _selectedPaymentAccount.LastName,
                CardId = cardInfo.Id
            };
            await PaymentSystem.UpdateAsync(_selectedPaymentAccount.Id, uam);
            _selectedPaymentAccount = await PaymentSystem.GetAccountByEmailAsync(_selectedPaymentAccount.Email);
            Snackbar.Add($"Updated CardId for '{selectedUser.FirstName} {selectedUser.LastName}'", Severity.Success);
        }
    }

}
