@page "/Bar"
@using Clanwars.TournamentManager.Lib.Messages.Events

@inject IEventsService EventService
<PageTitle>Bar</PageTitle>

@if (_currentEvent != null)
{
    <MudPaper Elevation="2" Class="my-5 pa-5 animate flip">
    <MudText Typo="Typo.h4" Class="mb-3">Bar-Angebot</MudText>
    <MudText Typo="Typo.h6">🍻 Bier</MudText>
    <MudSimpleTable Dense="true" Elevation="0" Hover="true">
        <tbody>
        <tr>
            <td>
                Ur-Krostizer Premium 0,5l
            </td>
            <td style="width:100px;">
                1,50 €
            </td>
        </tr>
        <tr>
            <td>
                Braustolz Pils 0,5l
            </td>
            <td>
                1,50 €
            </td>
        </tr>
        <tr>
            <td>
                Einsiedler Landbier 0,5l
            </td>
            <td>
                1,70 €
            </td>
        </tr>
        <tr>
            <td>
                Naturtrübes Radler 0,5l
            </td>
            <td>
                1,50 €
            </td>
        </tr>
        <tr>
            <td>
                Reichenbrander Hell 0,5l
            </td>
            <td>
                1,70 €
            </td>
        </tr>
        <tr>
            <td>
                Munzer 1998 0,5l
            </td>
            <td>
                1,90 €
            </td>
        </tr>
        <tr>
            <td>
                Alkoholfreies Bier 0,5 l
            </td>
            <td>
                1,50 €
            </td>
        </tr>
        <tr>
            <td>
                Alkoholfreies Weizen 0,5 l
            </td>
            <td>
                1,50 €
            </td>
        </tr>
        </tbody>
    </MudSimpleTable>

    <MudText Typo="Typo.h6" Class="mt-3">🫗 Alkoholfreie Getränke </MudText>
    <MudSimpleTable Dense="true" Elevation="0" Hover="true">
        <tbody>
        <tr>
            <td>
                Bad Brambacher Cola
            </td>
            <td style="width:100px;">
                1,00 €
            </td>
        </tr>
        <tr>
            <td>
                Bad Brambacher Gartenlimo Sport
            </td>
            <td>
                1,00 €
            </td>
        </tr>
        <tr>
            <td>
                Bad Brambacher Gartenlimo Johannisbeere
            </td>
            <td>
                1,00 €
            </td>
        </tr>
        <tr>
            <td>
                Bad Brambacher Gartenlimo Zitrone
            </td>
            <td>
                1,00 €
            </td>
        </tr>
        <tr>
            <td>
                Club Mate
            </td>
            <td>
                1,50 €
            </td>
        </tr>
        <tr>
            <td>
                Paulaner Spezi
            </td>
            <td>
                1,25 €
            </td>
        </tr>
        <tr>
            <td>
                Red Bull Energie
            </td>
            <td>
                1,50 €
            </td>
        </tr>
        <tr>
            <td>
                Wasser
            </td>
            <td>
                0,50 €
            </td>
        </tr>
        </tbody>
    </MudSimpleTable>

    <MudText Typo="Typo.h6" Class="mt-3">🥪 Snacks </MudText>
    <MudSimpleTable Dense="true" Elevation="0" Hover="true">
        <tbody>
        <tr>
            <td>
                Doppeltoast Salami/Jagdwurst/Mix
            </td>
            <td style="width:100px;">
                1,75 €
            </td>
        </tr>
        <tr>
            <td>
                Muffin
            </td>
            <td>
                1,00 €
            </td>
        </tr>
        </tbody>
    </MudSimpleTable>

    <MudText Typo="Typo.h6" Class="mt-3">🍕 Freddy's Pizza </MudText>
    <MudSimpleTable Dense="true" Elevation="0" Hover="true">
        <tbody>
            <tr>
                <td>Glückspilz</td>
                <td>Käse-Sahne-Soße, rote Zwiebel, Pfifferlinge, panierte Chicken Popsters, echter Gouda – nach dem Backen verfeinert mit Zwiebellauch </td>
                <td style="width:100px;">12.99 €</td>
            </tr>
            <tr>
                <td>Neu Dehli</td>
                <td>Curry-Soße, vegane Streifen (Hähnchen- Art), Broccoli, Paprika sowie wahlweise echtem Gouda oder veganem Pizzastreu von Violife</td>
                <td>15.49 €</td>
            </tr>
            <tr>
                <td>Ankara</td>
                <td>mit Pizzasoße, Paprika, Sucuk, roten Zwiebeln, Hirtenkäse und echtem Gouda</td>
                <td>14.99 €</td>
            </tr>
            <tr>
                <td>Mumbai</td>
                <td>Curry-Soße, vegane Streifen (Hähnchen- Art), Ananas sowie wahlweise echtem Gouda oder veganem Pizzastreu von Violife</td>
                <td>15.49 €</td>
            </tr>
            <tr>
                <td>Saint Tropez</td>
                <td>mit Pizzasoße, Hähnchenbruststreifen, roten Zwiebeln, Champignons, Ei, echtem Gouda und Sauce Hollandaise</td>
                <td>14.49 €</td>
            </tr>
            <tr>
                <td>Palermo</td>
                <td>mit Pizzasoße, extra viel Salami und reichlich echtem Gouda</td>
                <td>12.99 €</td>
            </tr>
            <tr>
                <td>Margherita</td>
                <td>mit Pizzasoße und echtem Gouda</td>
                <td>11.49 €</td>
            </tr>
            <tr>
                <td>Budapest</td>
                <td>mit Sauce Hollandaise, Hinterkochschinken, Broccoli und echtem Gouda </td>
                <td>12.99 €</td>
            </tr>
            <tr>
                <td>4 Käse</td>
                <td>mit Pizzasoße, Hirtenkäse, Mozzarella, Cheddar und echtem Gouda </td>
                <td>15.99 €</td>
            </tr>
            <tr>
                <td>Williamsburg</td>
                <td>mit Pizzasoße, roten Zwiebeln, Broccoli, Mais, vegane Streifen (Hähnchen Art) sowie wahlweise echtem Gouda oder veganem Pizzastreu von Violife</td>
                <td>15.49 €</td>
            </tr>
            <tr>
                <td>Friedrichshain</td>
                <td>mit Pizzasoße, Kirschtomaten, vegane Streifen (Hähnchen Art), Rucola sowie wahlweise echtem Gouda oder veganem Pizzastreu von Violife</td>
                <td>15.49 €</td>
            </tr>
            <tr>
                <td>Rotterdam</td>
                <td>mit Pizzasoße, Spargel, Broccoli, Sauce Hollandaise, Hähnchenbrust und echtem Gouda</td>
                <td>14.99 €</td>
            </tr>
            <tr>
                <td>Phoenix</td>
                <td>mit Pizzasoße, Beef, Baconstreifen, Würstchen, Barbecuesoße, frischem Schnittlauch und echtem Gouda</td>
                <td>15.49 €</td>
            </tr>
            <tr>
                <td>Osaka</td>
                <td>mit Pizzasoße, Hähnchenbrust, Broccoli, rote Zwiebel, Sesam, Teriyaki-Soße, Mozzarella und echtem Gouda</td>
                <td>14.99 €</td>
            </tr>
            <tr>
                <td>Kentucky</td>
                <td>mit Barbecue-Soße, panierte Chicken-Popsters, Broccoli, Paprika, roten Zwiebeln und echtem Gouda</td>
                <td>15.49 €</td>
            </tr>
            <tr>
                <td>Bosporus</td>
                <td>mit Pizzasoße, Hähnchenkebab, roten Zwiebeln, echtem Gouda und Hirtenkäse </td>
                <td>13.99 €</td>
            </tr>
            <tr>
                <td>Saloniki</td>
                <td>mit Pizzasoße, wahlweise Gyros oder Hähnchenkebab, Hirtenkäse, milden Peperoni, Tzatziki und echtem Gouda</td>
                <td>15.49 €</td>
            </tr>
            <tr>
                <td>La Paz</td>
                <td>mit Honig-Senf-Soße, Mozzarella, Hähnchenbrust, roten Zwiebeln, Dill und echtem Gouda</td>
                <td>14.69 €</td>
            </tr>
            <tr>
                <td>Sparta</td>
                <td>mit Metaxa-Soße, wahlweise Gyros oder Hähnchenkebab, roten Zwiebeln, echtem Gouda, Hirtenkäse und gehacktem Knoblauch</td>
                <td>15.49 €</td>
            </tr>
            <tr>
                <td>Wien</td>
                <td>mit Pizzasoße, Schnitzelstreifen, Broccoli, roten Zwiebeln, Sauce Hollandaise und echtem Gouda</td>
                <td>14.49 €</td>
            </tr>
            <tr>
                <td>Philadelphia</td>
                <td>mit Pizzasoße, Hinterkochschinken, Champignons, Mozzarella und echtem Gouda</td>
                <td>13.49 €</td>
            </tr>
            <tr>
                <td>Los Angeles</td>
                <td>mit Sauce Hollandaise, Broccoli, Mais und echtem Gouda</td>
                <td>12.99 €</td>
            </tr>
            <tr>
                <td>Atlanta</td>
                <td>mit Pizzasoße, Salami, echtem Gouda, Mozzarella und Baconstreifen</td>
                <td>14.49 €</td>
            </tr>
            <tr>
                <td>Dublin</td>
                <td>mit Pizzasoße, Champignons, Paprika, Broccoli, Mais und echtem Gouda</td>
                <td>12.99 €</td>
            </tr>
            <tr>
                <td>Bombay</td>
                <td>mit Currysoße, Hähnchenbrust, Ananas und echtem Gouda </td>
                <td>13.99 €</td>
            </tr>
            <tr>
                <td>Tijuana</td>
                <td>mit Pizzasoße, Salami, roten Zwiebeln, Jalapeños und echtem Gouda</td>
                <td>13.99 €</td>
            </tr>
            <tr>
                <td>4 Seasons</td>
                <td>mit Pizzasoße, Hinterkochschinken, Salami, milden Peperoni, Champignons und echtem Gouda</td>
                <td>14.49 €</td>
            </tr>
            <tr>
                <td>Kapstadt</td>
                <td>mit Pizzasoße, Würstchen, Hot-Dog-Gurke, Röstzwiebeln, Hot-Dog-Remoulade und echtem Gouda</td>
                <td>12.99 €</td>
            </tr>
            <tr>
                <td>Helgoland</td>
                <td>mit Pizzasoße, Thunfisch, roten Zwiebeln, Kirschtomaten und echtem Gouda</td>
                <td>13.49 €</td>
            </tr>
            <tr>
                <td>London</td>
                <td>mit Pizzasoße, roten Zwiebeln, Champignons, Kirschtomaten, echtem Gouda und Hirtenkäse</td>
                <td>12.99 €</td>
            </tr>
            <tr>
                <td>Hawaii</td>
                <td>mit Pizzasoße, Hinterkochschinken, Ananas und echtem Gouda</td>
                <td>12.99 €</td>
            </tr>
            <tr>
                <td>Venedig</td>
                <td>mit Pizzasoße, Tomaten, Mozzarella, Basilikum-Pesto (zum Selbst-Verfeinern) und echtem Gouda</td>
                <td>12.99 €</td>
            </tr>
            <tr>
                <td>Margherita vegan</td>
                <td>mit Pizzasoße sowie wahlweise echtem Gouda oder veganem Pizzastreu von Violife</td>
                <td>11.49 €</td>
            </tr>
            <tr>
                <td>California</td>
                <td>mit Pizzasoße, Kirschtomaten, Rucola, Serrano-Schinken, originaler Grana Padano und echtem Gouda</td>
                <td>15.99 €</td>
            </tr>
            <tr>
                <td>Dubai</td>
                <td>mit Sauce Hollandaise, Champignons, panierte Chicken-Popsters, echtem Gouda und Schnittlauch</td>
                <td>14.99 €</td>
            </tr>
            <tr>
                <td>Madrid</td>
                <td>mit Pizzasoße, Hähnchenbrust, feurigen Jalapeños, echtem Gouda, Cheddar-Käse und Mozzarella</td>
                <td>14.99 €</td>
            </tr>
            <tr>
                <td>Memphis</td>
                <td>mit Barbecue-Soße, roten Zwiebeln, Putenfleisch (Pulled-Turkey), echtem Gouda, Cheddar und Petersilie</td>
                <td>14.99 €</td>
            </tr>
            <tr>
                <td>Santa Cruz</td>
              	<td>mit Barbecue-Soße, Mais, Paprika, roten Zwiebeln, Hähnchenbrust und echtem Gouda</td>
                <td>14.99 €</td>
            </tr>
            <tr>
                <td>Istanbul</td>
                <td>mit Pizzasoße, Sucuk, schwarzen Oliven, Paprika, roten Zwiebeln, echtem Gouda und Hirtenkäse</td>
                <td>14.99 €</td>
            </tr>
            <tr>
                <td>Pfifferking</td>
                <td>Pizzasoße, zarte Hähnchenbrust, knackiger Broccoli, Pfifferlinge, echter Gouda, Sauce Hollandaise – nach dem Backen verfeinert mit Zwiebellauch </td>
                <td>12.99 €</td>
            </tr>
        </tbody>
    </MudSimpleTable>
    </MudPaper>
}

@code {
    private EventResponse? _currentEvent;

    protected override async Task OnInitializedAsync()
    {
        _currentEvent = await EventService.CurrentEventAsync();
    }

}
