@page "/beamer-ctl"

@attribute [Authorize(Roles = "tournament-moderator")]
@inject IBeamerPipelineService BeamerPipelineService
@inject IImagesService ImageService
@inject IOptions<BackendOptions> BackendOptions
@inject IDialogService DialogService
@implements IDisposable
@implements IAutoplayStateObserver
@using Clanwars.TournamentManager.Frontend.Options
@using Clanwars.TournamentManager.Frontend.Shared.Components.BeamerCtl
@using Clanwars.TournamentManager.Lib.Messages.Images
@using Clanwars.TournamentManager.Lib.Messages.Pipeline
@using Clanwars.TournamentManager.Lib.Signalr.BeamerHubMessages
@using Microsoft.Extensions.Options
@implements IBeamerHubMessageObserver

<PageTitle>Beamer Control</PageTitle>

<AuthorizeView Roles="tournament-moderator">
    <Authorized>
        <MudToolBar Dense="true" Gutters="false">
            <MudSpacer/>
            <MudButton Target="_blank" EndIcon="@Icons.Material.Outlined.OpenInNew" Href="beamer" Color="Color.Primary" Variant="Variant.Outlined">Open Beamer view</MudButton>
        </MudToolBar>
        <MudGrid Spacing="2" Justify="Justify.FlexStart">
            <MudItem xs="3">
                @if (!_isInitializing)
                {
                    @foreach (var module in Enum.GetValues(typeof(ModuleType)).Cast<ModuleType>())
                    {
                        <MudCard Class="@("mb-2" + (_moduleStateRepresentations[module].isOnDisplay ? " mud-info " : ""))">
                            <MudCardHeader Style="padding-bottom: 0">
                                <CardHeaderContent>
                                    <MudText Typo="Typo.h5">@_moduleStateRepresentations[module].Title</MudText>
                                </CardHeaderContent>
                                <CardHeaderActions>
                                    <MudToggleIconButton
                                        Toggled="!_moduleStateRepresentations[module].ModuleState.IsEnabled"
                                        Icon="@Icons.Material.Filled.PlayArrow"
                                        ToggledIcon="@Icons.Material.Filled.Pause"
                                        Color="Color.Success"
                                        ToggledColor="Color.Warning"
                                        title="@(_moduleStateRepresentations[module].Title + (_moduleStateRepresentations[module].ModuleState.IsEnabled ? " module activated" : " module disabled"))"
                                        Variant="Variant.Text"
                                        ToggledChanged="toggleState => ToggleModule(module, toggleState)">
                                    </MudToggleIconButton>
                                </CardHeaderActions>
                            </MudCardHeader>
                            <MudCardContent Style="padding-top: 5px; padding-bottom: 3px">
                                <div class="d-flex gap-4">
                                    <MudSlider T="int" Value="_moduleStateRepresentations[module].ModuleState.TimeoutInitial" ValueChanged="newValue => SetModuleTimeoutInitial(module, newValue)" Min="10" Max="900" Step="10" Disabled="!_moduleStateRepresentations[module].hasTriggeredContent">@(!_moduleStateRepresentations[module].hasTriggeredContent ? " n/a " : "Initial timeout: " + _moduleStateRepresentations[module].ModuleState.TimeoutInitial + "s")</MudSlider>
                                    <MudSlider T="int" Value="_moduleStateRepresentations[module].ModuleState.TimeoutRecurring" ValueChanged="newValue => SetModuleTimeoutRecurring(module, newValue)" Min="10" Max="900" Step="10" Disabled="!_moduleStateRepresentations[module].hasRandomContent">@(!_moduleStateRepresentations[module].hasRandomContent ? " n/a " : "Default timeout: " + _moduleStateRepresentations[module].ModuleState.TimeoutRecurring + "s")</MudSlider>
                                </div>
                            </MudCardContent>
                        </MudCard>
                    }
                }
            </MudItem>
            <MudItem xs="2">
                @if (_autoplayState)
                {
                    <MudButton Size="Size.Large" FullWidth="true" Color="Color.Success" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.PlayArrow" OnClick="Stop">
                        Autoplay<br/>running
                    </MudButton>
                }
                else
                {
                    <MudButton Size="Size.Large" FullWidth="true" Color="Color.Warning" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Stop" OnClick="Run">
                        Autoplay<br/>stopped
                    </MudButton>
                }
                <MudButton
                    Size="Size.Large"
                    Class="mt-5"
                    FullWidth="true"
                    Color="Color.Info"
                    Variant="Variant.Outlined"
                    StartIcon="@Icons.Material.Filled.SkipNext"
                    OnClick="Skip"
                    Disabled="!_autoplayState">
                    Goto next view
                </MudButton>
            </MudItem>
            <MudItem xs="7">
                <MudButton
                    Size="Size.Large"
                    Class="mt-5"
                    FullWidth="false"
                    Color="Color.Info"
                    Variant="Variant.Outlined"
                    StartIcon="@Icons.Material.Filled.Upload"
                    OnClick="AddBeamerImageAsync">
                    Upload new Image
                </MudButton>

                @foreach (var imageId in _beamerImages)
                {
                    var imageUrl = $"{BackendOptions.Value.BaseAddress}/api/v1/Images/{imageId.HashId}";
                    <MudCard>
                        <MudCardMedia Image="@imageUrl" Height="200"/>
                        <MudCardActions>
                            <MudCheckBox T="bool?" Value="@imageId.ShowOnStream" ValueChanged="async newValue => await SaveToBackendAsync(imageId, newValue)"/>
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="() => PublishImage(imageId.HashId)">Activate</MudButton>
                            <MudIconButton Icon="@Icons.Material.Filled.DeleteForever" Variant="Variant.Outlined" Color="Color.Error" OnClick="() => DeleteImage(imageId.HashId)">Delete</MudIconButton>
                        </MudCardActions>
                    </MudCard>
                }
            </MudItem>
        </MudGrid>
    </Authorized>
</AuthorizeView>


@code {

    private bool _isInitializing = true;
    private bool _autoplayState;
    private IList<ImageResponse> _beamerImages = [];
    private int _lastImageTimeout = 600;

    private readonly IDictionary<ModuleType, (string Title, PipelineModuleStateResponse ModuleState, bool isOnDisplay, bool hasTriggeredContent, bool hasRandomContent)> _moduleStateRepresentations = new Dictionary<ModuleType, (string, PipelineModuleStateResponse, bool, bool, bool)>
    {
        { ModuleType.News, ("News", new PipelineModuleStateResponse(), false, true, true) },
        { ModuleType.Shouts, ("Shouts", new PipelineModuleStateResponse(), false, true, true) },
        { ModuleType.Tournaments, ("Tournaments", new PipelineModuleStateResponse(), false, false, true) },
        { ModuleType.Matches, ("Upcoming Matches", new PipelineModuleStateResponse(), false, false, true) },
        { ModuleType.MatchResults, ("Match result list", new PipelineModuleStateResponse(), false, false, true) },
        { ModuleType.MatchResult, ("Single match Result", new PipelineModuleStateResponse(), false, true, false) },
        { ModuleType.Images, ("Pictures", new PipelineModuleStateResponse(), false, true, true) },
        { ModuleType.WelcomeMessage, ("Welcome message", new PipelineModuleStateResponse(), false, true, false) }
    };


    protected override async Task OnInitializedAsync()
    {
        await LoadModuleStates();

        BeamerPipelineService.RegisterAutoplayStateObserver(this);
        BeamerPipelineService.RegisterBeamerHubMessageObserver(this);
        _beamerImages = await ImageService.GetBeamerImageIdsAsync();
        _isInitializing = false;
    }

    public Task UpdateBeamerHubMessage(IBeamerHubMessage? msg)
    {
        ModuleType? activeModule = msg switch
        {
            NewsBeamerHubMessage => ModuleType.News,
            ShoutBeamerHubMessage => ModuleType.Shouts,
            WelcomeBeamerHubMessage => ModuleType.WelcomeMessage,
            ImageBeamerHubMessage => ModuleType.Images,
            TournamentBeamerHubMessage => ModuleType.Tournaments,
            UpcomingMatchesBeamerHubMessage => ModuleType.Matches,
            FinishedMatchesBeamerHubMessage => ModuleType.MatchResults,
            TournamentMatchResultBeamerHubMessage => ModuleType.MatchResult,
            _ => null
        };

        foreach (var moduleStateRepresentation in _moduleStateRepresentations)
        {
            _moduleStateRepresentations[moduleStateRepresentation.Key] = (_moduleStateRepresentations[moduleStateRepresentation.Key].Title, _moduleStateRepresentations[moduleStateRepresentation.Key].ModuleState, activeModule != null && activeModule.Value == moduleStateRepresentation.Key, _moduleStateRepresentations[moduleStateRepresentation.Key].hasTriggeredContent, _moduleStateRepresentations[moduleStateRepresentation.Key].hasRandomContent);
        }

        StateHasChanged();
        return Task.CompletedTask;
    }

    public Task UpdateAutoplayState(bool autoplayState)
    {
        _autoplayState = autoplayState;
        StateHasChanged();
        return Task.CompletedTask;
    }

    private async Task LoadModuleStates()
    {
        var resp = await BeamerPipelineService.GetAllModuleStatesAsync();
        foreach (var moduleStateResponse in resp)
        {
            _moduleStateRepresentations[moduleStateResponse.Module].ModuleState.Module = moduleStateResponse.Module;
            _moduleStateRepresentations[moduleStateResponse.Module].ModuleState.IsEnabled = moduleStateResponse.IsEnabled;
            _moduleStateRepresentations[moduleStateResponse.Module].ModuleState.TimeoutInitial = moduleStateResponse.TimeoutInitial;
            _moduleStateRepresentations[moduleStateResponse.Module].ModuleState.TimeoutRecurring = moduleStateResponse.TimeoutRecurring;
        }
    }

    private async Task EnableModule(ModuleType module)
    {
        await BeamerPipelineService.EnableModule(module);
        _moduleStateRepresentations[module].ModuleState.IsEnabled = true;
    }

    private async Task DisableModule(ModuleType module)
    {
        await BeamerPipelineService.DisableModule(module);
        _moduleStateRepresentations[module].ModuleState.IsEnabled = false;
    }

    private async Task Skip()
    {
        await BeamerPipelineService.Skip();
    }

    private async Task Run()
    {
        await BeamerPipelineService.Run();
    }

    private async Task Stop()
    {
        await BeamerPipelineService.Stop();
    }

    public void Dispose()
    {
        BeamerPipelineService.UnregisterAutoplayStateObserver(this);
        BeamerPipelineService.UnregisterBeamerHubMessageObserver(this);
    }

    private async Task ToggleModule(ModuleType module, bool toggleState)
    {
        if (toggleState)
        {
            await DisableModule(module);
        }
        else
        {
            await EnableModule(module);
        }
    }

    private async Task SetModuleTimeoutInitial(ModuleType module, int newValue)
    {
        _moduleStateRepresentations[module].ModuleState.TimeoutInitial = newValue;
        await BeamerPipelineService.SetModuleTimeout(module, newValue > 0 ? newValue : 10, _moduleStateRepresentations[module].ModuleState.TimeoutRecurring > 0 ? _moduleStateRepresentations[module].ModuleState.TimeoutRecurring : 10);
    }

    private async Task SetModuleTimeoutRecurring(ModuleType module, int newValue)
    {
        _moduleStateRepresentations[module].ModuleState.TimeoutRecurring = newValue;
        await BeamerPipelineService.SetModuleTimeout(module, _moduleStateRepresentations[module].ModuleState.TimeoutInitial > 0 ? _moduleStateRepresentations[module].ModuleState.TimeoutInitial : 10, newValue > 0 ? newValue : 10);
    }

    private async Task AddBeamerImageAsync()
    {
        var dialog = await DialogService.ShowAsync<BeamerImageCreateDialog>("Add Beamer Image", new DialogOptions { FullScreen = false, CloseButton = true, CloseOnEscapeKey = true });
        await dialog.Result;
        _beamerImages = await ImageService.GetBeamerImageIdsAsync();
        StateHasChanged();
    }

    private async Task PublishImage(string imageId)
    {
        var parameters = new DialogParameters<PublishImageDialog> { { x => x.timeout, _lastImageTimeout } };
        var dialog = await DialogService.ShowAsync<PublishImageDialog>("Show Image", parameters);
        var result = await dialog.Result;


        if (result is null || result.Canceled)
        {
            return;
        }

        if (result.Data is int newTimeout)
        {
            _lastImageTimeout = newTimeout;
        }

        Console.WriteLine($@"publishing {imageId} for {_lastImageTimeout} seconds");
        await ImageService.ActivateBeamerImageAsync(imageId, _lastImageTimeout);
    }

    private async void DeleteImage(string imageHashId)
    {
        var result = await DialogService.ShowMessageBox(
            "Warning",
            "Deleting can not be undone!",
            yesText: "Delete!", cancelText: "Cancel");

        if (result is null || !result.Value) return;

        await ImageService.RemoveImageAsync(imageHashId);
        _beamerImages = await ImageService.GetBeamerImageIdsAsync();
        StateHasChanged();
    }

    private async Task SaveToBackendAsync(ImageResponse imageId, bool? newValue)
    {
        if (newValue is null)
        {
            return;
        }

        await ImageService.SetShowOnStreamForBeamerImageAsync(imageId.HashId, newValue.Value);
        imageId.ShowOnStream = newValue.Value;
    }

}
