@page "/beamer"
@layout BeamerScreenLayout

@inject IBeamerPipelineService BeamerPipelineService
@inject ILogger<BeamerScreen> Logger
@implements IAutoplayStateObserver
@implements IBeamerHubMessageObserver
@using Clanwars.TournamentManager.Lib.Signalr.BeamerHubMessages
@implements IDisposable

<PageTitle>TM - Beamer UI</PageTitle>

@if (_autoplayActive)
{
    <BeamerViewDispatcher BeamerHubMessage="_currentBeamerHubMessage"></BeamerViewDispatcher>
}
else
{
    <h1 class="d-flex justify-center flex-column align-center">
        <img src="assets/undraws/undraw_blank_canvas_re_2hwy.svg" alt="Image showing an empty canvas" style="padding-bottom: 20px; width: 20vw;"/><br/>
        <span>The Show is paused!</span>
    </h1>
}

@code {
    private bool _autoplayActive;
    private IBeamerHubMessage? _currentBeamerHubMessage;

    protected override async Task OnInitializedAsync()
    {
        Logger.LogWarning("Beamer UI page loading...");
        BeamerPipelineService.RegisterAutoplayStateObserver(this);
        BeamerPipelineService.RegisterBeamerHubMessageObserver(this);
        await Task.CompletedTask;
    }

    public Task UpdateAutoplayState(bool autoplayState)
    {
        Logger.LogInformation("Autoplay state changed to: {State}", autoplayState ? "playing" : "paused");
        _autoplayActive = autoplayState;
        StateHasChanged();
        return Task.CompletedTask;
    }

    public Task UpdateBeamerHubMessage(IBeamerHubMessage? beamerHubMessage)
    {
        Logger.LogInformation("Current view changed to: {View}", beamerHubMessage?.ModuleType.ToString());
        _currentBeamerHubMessage = beamerHubMessage;
        StateHasChanged();
        return Task.CompletedTask;
    }

    public void Dispose()
    {
        BeamerPipelineService.UnregisterAutoplayStateObserver(this);
        BeamerPipelineService.UnregisterBeamerHubMessageObserver(this);
    }

}
