@page "/Feedback"

@attribute [Authorize(Roles = "tournament-moderator")]
@using Clanwars.TournamentManager.Lib.Messages.Feedback
@using Clanwars.TournamentManager.Lib.Messages.User
@inject IFeedbackService FeedbackService

<PageTitle>Feedback</PageTitle>

@if (_feedbacks != null)
{
    <MudTable Items="@_feedbacks" Hover="true">
        <HeaderContent>
            <MudTh>Id</MudTh>
            <MudTh>User</MudTh>
            <MudTh>Created at</MudTh>
            <MudTh>Rating</MudTh>
            <MudTh>Features</MudTh>
            <MudTh>Gut/Schlecht</MudTh>
            <MudTh>Resolved</MudTh>
        </HeaderContent>
        <ChildRowContent>
            <MudTr Class="@(@context.Resolved ? "gray darken-2" : "")">
                <MudTd DataLabel="@nameof(FeedbackResponse.Id)">@context.Id</MudTd>
                <MudTd DataLabel="@nameof(FeedbackResponse.Username)">@context.Username</MudTd>
                <MudTd DataLabel="@nameof(FeedbackResponse.CreatedAt)">@context.CreatedAt</MudTd>
                <MudTd DataLabel="@nameof(FeedbackResponse.Rating)">
                    <MudRating SelectedValue="@context.Rating" ReadOnly="true"/>
                </MudTd>
                <MudTd DataLabel="@nameof(FeedbackResponse.Features)">@context.Features</MudTd>
                <MudTd DataLabel="@nameof(FeedbackResponse.GoodBad)">@context.GoodBad</MudTd>
                <MudTd DataLabel="@nameof(FeedbackResponse.Resolved)">
                    <MudToggleIconButton Toggled="@context.Resolved"
                                         Icon="@Icons.Material.Filled.ToggleOff"
                                         Color="@Color.Error"
                                         ToggledIcon="@Icons.Material.Filled.ToggleOn"
                                         ToggledColor="@Color.Success"
                                         ToggledChanged="async (args) => await ToggleFeedbackResolvedStateAsync(context)"
                                         title="@(context.Resolved ? "marked as resolved" : "marked as unresolved")"/>
                </MudTd>
            </MudTr>
        </ChildRowContent>
    </MudTable>
}

@code {
    private IList<FeedbackResponse>? _feedbacks;

    protected override async Task OnInitializedAsync()
    {
        _feedbacks = (await FeedbackService.GetFeedbacksAsync()).OrderBy(f => f.Resolved).ThenBy(f => f.CreatedAt).ToList();
    }

    private async Task ToggleFeedbackResolvedStateAsync(FeedbackResponse context)
    {
        context.Resolved = !context.Resolved;
        await FeedbackService.SetFeedbackResolvedState(context, context.Resolved);
    }

}
