﻿@page "/rooms/{id:int}"

@inject IRoomsService RoomsService
@inject INotificationsService NotificationsService
@inject IDialogService DialogService
@inject ICurrentUserService CurrentUserService
@inject IUsersService UsersService
@inject NavigationManager NavigationManager
@using Clanwars.TournamentManager.Lib.Messages.Rooms
@using Clanwars.TournamentManager.Lib.Messages.User
@using Sieve.Models
@using Clanwars.TournamentManager.Lib.Enums.Rooms
@using Clanwars.TournamentManager.Lib.Signalr.NotificationsHubMessages
@implements IDisposable

<PageTitle>Sitzplan</PageTitle>


@if (_room != null && _currentUser != null)
{
    <MudGrid Class="py-2">
        <MudItem xs="12" sm="6">
            <MudText Typo="Typo.h4" Class="pt-6">@_room.Name</MudText>
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudAutocomplete T="UserResponse" Label="User Search" @bind-Value="CurrentFoundUser" FullWidth="false" SearchFunc="@SearchForUser" Variant="Variant.Text" ShowProgressIndicator="true" ToStringFunc="@(ur => ur.IsIncompleteProfile ? $"{ur.FirstName} {ur.LastName}" : $"{ur.Nickname}")" DebounceInterval="200" ResetValueOnEmptyText="true" Dense="true"/>
        </MudItem>
    </MudGrid>

    <AuthorizeView Roles="tournament-moderator">
        <div class="d-flex justify-end mb-3">
            <MudButton StartIcon="@_editorEnabledToggleIcon" Variant="@_editorEnabledButtonVariant" Color="Color.Warning" Size="Size.Small" OnClick="() => ToggleEditor()" Class="mr-4">Editor</MudButton>
            <MudButton StartIcon="@Icons.Material.Filled.Edit" Variant="Variant.Outlined" Color="Color.Secondary" Size="Size.Small" OnClick="async () => await UpdateRoomAsync()">Update Room</MudButton>
        </div>
        @if (_editorEnabled)
        {
            <MudPaper Elevation="2">
                <MudText Class="pa-2">Choose from the fields, select and put onto floor plan:</MudText>
                <div class="d-flex align-content-start flex-wrap editor-type-selector px-2">
                    <div class="mx-1 @(_editorTypeSelected == GridSquareType.WallLine ? "editor-type-selected" : "")" @onclick="() => SelectEditorType(GridSquareType.WallLine)">
                        <GridSquareWallLine></GridSquareWallLine>
                    </div>
                    <div class="mx-1 @(_editorTypeSelected == GridSquareType.WallT ? "editor-type-selected" : "")" @onclick="() => SelectEditorType(GridSquareType.WallT)">
                        <GridSquareWallT></GridSquareWallT>
                    </div>
                    <div class="mx-1 @(_editorTypeSelected == GridSquareType.WallX ? "editor-type-selected" : "")" @onclick="() => SelectEditorType(GridSquareType.WallX)">
                        <GridSquareWallX></GridSquareWallX>
                    </div>
                    <div class="mx-1 @(_editorTypeSelected == GridSquareType.WallCorner ? "editor-type-selected" : "")" @onclick="() => SelectEditorType(GridSquareType.WallCorner)">
                        <GridSquareWallCorner></GridSquareWallCorner>
                    </div>
                    <div class="mx-1 @(_editorTypeSelected == GridSquareType.BarIcon ? "editor-type-selected" : "")" @onclick="() => SelectEditorType(GridSquareType.BarIcon)">
                        <GridSquareBarIcon></GridSquareBarIcon>
                    </div>
                    <div class="mx-1 @(_editorTypeSelected == GridSquareType.BarCounterCorner ? "editor-type-selected" : "")" @onclick="() => SelectEditorType(GridSquareType.BarCounterCorner)">
                        <GridSquareBarCounterCorner></GridSquareBarCounterCorner>
                    </div>
                    <div class="mx-1 @(_editorTypeSelected == GridSquareType.BarCounterLine ? "editor-type-selected" : "")" @onclick="() => SelectEditorType(GridSquareType.BarCounterLine)">
                        <GridSquareBarCounterLine></GridSquareBarCounterLine>
                    </div>
                    <div class="mx-1 @(_editorTypeSelected == GridSquareType.BeamerScreen ? "editor-type-selected" : "")" @onclick="() => SelectEditorType(GridSquareType.BeamerScreen)">
                        <GridSquareBeamerIcon></GridSquareBeamerIcon>
                    </div>
                    <div class="mx-1 @(_editorTypeSelected == GridSquareType.StageCorner ? "editor-type-selected" : "")" @onclick="() => SelectEditorType(GridSquareType.StageCorner)">
                        <GridSquareStageCorner></GridSquareStageCorner>
                    </div>
                    <div class="mx-1 @(_editorTypeSelected == GridSquareType.StageLine ? "editor-type-selected" : "")" @onclick="() => SelectEditorType(GridSquareType.StageLine)">
                        <GridSquareStageLine></GridSquareStageLine>
                    </div>
                    <div class="mx-1 @(_editorTypeSelected == GridSquareType.Stairs ? "editor-type-selected" : "")" @onclick="() => SelectEditorType(GridSquareType.Stairs)">
                        <GridSquareStairs></GridSquareStairs>
                    </div>
                    <div class="mx-1 @(_editorTypeSelected == GridSquareType.Door ? "editor-type-selected" : "")" @onclick="() => SelectEditorType(GridSquareType.Door)">
                        <GridSquareDoor></GridSquareDoor>
                    </div>
                    <div class="mx-1 @(_editorTypeSelected == GridSquareType.SleepIcon ? "editor-type-selected" : "")" @onclick="() => SelectEditorType(GridSquareType.SleepIcon)">
                        <GridSquareSleepIcon></GridSquareSleepIcon>
                    </div>
                    <div class="mx-1 @(_editorTypeSelected == GridSquareType.SeatDefault ? "editor-type-selected" : "")" @onclick="() => SelectEditorType(GridSquareType.SeatDefault)">
                        <GridSquareSeat GridSquare="new GridSquareResponse {Type = GridSquareType.SeatDefault}" CurrentUser="_currentUser"></GridSquareSeat>
                    </div>
                    <div class="mx-1 @(_editorTypeSelected == GridSquareType.SeatCashier ? "editor-type-selected" : "")" @onclick="() => SelectEditorType(GridSquareType.SeatCashier)">
                        <GridSquareSeat GridSquare="new GridSquareResponse {Type = GridSquareType.SeatCashier}" CurrentUser="_currentUser"></GridSquareSeat>
                    </div>
                    <div class="mx-1 @(_editorTypeSelected == GridSquareType.SeatTechSupport ? "editor-type-selected" : "")" @onclick="() => SelectEditorType(GridSquareType.SeatTechSupport)">
                        <GridSquareSeat GridSquare="new GridSquareResponse {Type = GridSquareType.SeatTechSupport}" CurrentUser="_currentUser"></GridSquareSeat>
                    </div>
                    <div class="mx-1 @(_editorTypeSelected == GridSquareType.SeatTournamentSupport ? "editor-type-selected" : "")" @onclick="() => SelectEditorType(GridSquareType.SeatTournamentSupport)">
                        <GridSquareSeat GridSquare="new GridSquareResponse {Type = GridSquareType.SeatTournamentSupport}" CurrentUser="_currentUser"></GridSquareSeat>
                    </div>
                </div>
                <MudText Class="pa-2">Choose from the editing functions, select and use on the floor plan:</MudText>
                <div class="d-flex editor-type-selector px-2 pb-3">
                    <div class="mx-1 @(_editorFunctionSelected == EditorFunctions.Delete ? "editor-type-selected" : "")" @onclick="() => SelectEditorFunction(EditorFunctions.Delete)">
                        <div class="grid-container-size">
                            <RoomGridRotationContainer Rotation="GridSquareRotation.Degree0">
                                <RoomGridIconContainer>
                                    <MudIcon Icon="@Icons.Material.Filled.DeleteForever" Color="Color.Warning"/>
                                </RoomGridIconContainer>
                            </RoomGridRotationContainer>
                        </div>
                    </div>
                    <div class="mx-1 @(_editorFunctionSelected == EditorFunctions.Rotate ? "editor-type-selected" : "")" @onclick="() => SelectEditorFunction(EditorFunctions.Rotate)">
                        <div class="grid-container-size">
                            <RoomGridRotationContainer Rotation="GridSquareRotation.Degree0">
                                <RoomGridIconContainer>
                                    <MudIcon Icon="@Icons.Material.Filled.Rotate90DegreesCw" Color="Color.Default"/>
                                </RoomGridIconContainer>
                            </RoomGridRotationContainer>
                        </div>
                    </div>
                </div>
            </MudPaper>
        }
    </AuthorizeView>

    <RoomGrid Room="_room" CurrentUser="_currentUser" GridSquareClicked="GridSquareClickedCallback" HighlightedUserIds="SearchUserIds"></RoomGrid>
}

@code {

    [Parameter]
    public int Id { get; set; }

    [Parameter][SupplyParameterFromQuery(Name = "searchUserId")]
    public int[]? SearchUserIds { get; set; }

    private RoomResponse? _room;
    private bool _editorEnabled;
    private string _editorEnabledToggleIcon = null!;
    private Variant _editorEnabledButtonVariant;
    private GridSquareType? _editorTypeSelected;
    private EditorFunctions? _editorFunctionSelected;

    private UserResponse? _currentUser;

    protected override async Task OnInitializedAsync()
    {
        _currentUser = await CurrentUserService.GetCurrentUser();
        await LoadData();
        ToggleEditor(false);
        NotificationsService.RoomsChanged += HandleRoomsChangedAsync;
    }

    private async Task LoadData()
    {
        _room = await RoomsService.GetAsync(Id);
    }

    private async Task HandleRoomsChangedAsync(object arg1, RoomHubMessage arg2)
    {
        await LoadData();
        StateHasChanged();
    }

    private async Task UpdateRoomAsync()
    {
        var parameters = new DialogParameters {["Room"] = _room};
        var dialog = await DialogService.ShowAsync<RoomEditDialog>("Update Room", parameters, new DialogOptions {FullWidth = true});
        _ = await dialog.Result;
    }

    private void ToggleEditor(bool? enabled = null)
    {
        if (enabled == null)
        {
            _editorEnabled = !_editorEnabled;
        }
        else
        {
            _editorEnabled = enabled.Value;
        }

        _editorEnabledToggleIcon = _editorEnabled ? Icons.Material.Filled.ToggleOn : Icons.Material.Filled.ToggleOff;
        _editorEnabledButtonVariant = _editorEnabled ? Variant.Filled : Variant.Outlined;

        StateHasChanged();
    }

    private void SelectEditorType(GridSquareType type)
    {
        _editorFunctionSelected = null;
        if (type == _editorTypeSelected)
        {
            _editorTypeSelected = null;
            return;
        }
        _editorTypeSelected = type;
    }

    private enum EditorFunctions
    {
        Delete = 1,
        Rotate = 2
    }

    private void SelectEditorFunction(EditorFunctions func)
    {
        _editorTypeSelected = null;
        if (func == _editorFunctionSelected)
        {
            _editorFunctionSelected = null;
            return;
        }
        _editorFunctionSelected = func;
    }

    private async Task GridSquareClickedCallback(GridSquareResponse gridSquare)
    {
        Console.WriteLine("grid square clicked");
        Console.WriteLine(gridSquare);

        if (_editorEnabled && _editorTypeSelected.HasValue)
        {
            gridSquare.RoomId = _room!.Id;
            gridSquare.Type = _editorTypeSelected.Value;

            if (gridSquare.Id == default)
            {
                _room.GridSquares.Add(gridSquare);
            }
            var updatedGridSquare = await RoomsService.UpdateGridSquareAsync(gridSquare.RoomId, new UpdateGridMessage
            {
                Grid = new GridCoordinate
                {
                    X = gridSquare.X,
                    Y = gridSquare.Y
                },
                Rotation = gridSquare.Rotation,
                Type = gridSquare.Type
            });
            gridSquare.Id = updatedGridSquare.Id;
            gridSquare.Rotation = updatedGridSquare.Rotation;
            gridSquare.Type = updatedGridSquare.Type;
            gridSquare.User = updatedGridSquare.User;
        }

        if (_editorEnabled && _editorFunctionSelected.HasValue && gridSquare.Id != default)
        {
            switch (_editorFunctionSelected)
            {
                case EditorFunctions.Rotate:
                    gridSquare.Rotation = gridSquare.Rotation switch
                    {
                        GridSquareRotation.Degree0 => GridSquareRotation.Degree45,
                        GridSquareRotation.Degree45 => GridSquareRotation.Degree90,
                        GridSquareRotation.Degree90 => GridSquareRotation.Degree135,
                        GridSquareRotation.Degree135 => GridSquareRotation.Degree180,
                        GridSquareRotation.Degree180 => GridSquareRotation.Degree225,
                        GridSquareRotation.Degree225 => GridSquareRotation.Degree270,
                        GridSquareRotation.Degree270 => GridSquareRotation.Degree315,
                        GridSquareRotation.Degree315 => GridSquareRotation.Degree0,
                        _ => gridSquare.Rotation
                        };
                    break;
                case EditorFunctions.Delete:
                    gridSquare.Type = GridSquareType.Floor;
                    break;
            }
            await RoomsService.UpdateGridSquareAsync(gridSquare.RoomId, new UpdateGridMessage
            {
                Grid = new GridCoordinate
                {
                    X = gridSquare.X,
                    Y = gridSquare.Y
                },
                Rotation = gridSquare.Rotation,
                Type = gridSquare.Type
            });
        }
    }

    public void Dispose()
    {
        NotificationsService.RoomsChanged -= HandleRoomsChangedAsync;
    }

    private UserResponse? _currentFoundUser;

    public UserResponse? CurrentFoundUser
    {
        get => _currentFoundUser;
        set
        {
            if (value == _currentFoundUser)
                return;

            _currentFoundUser = value;
            NavigationManager.NavigateTo(_currentFoundUser != null ? $"rooms/{Id}?searchUserId={_currentFoundUser.Id}" : $"rooms/{Id}");
        }
    }

    private async Task<IEnumerable<UserResponse>> SearchForUser(string searchString, CancellationToken ct)
    {
        return searchString.Length >= 3 ? (await UsersService.GetAsync(new SieveModel {Filters = $"(firstName|lastName|nickname)@={searchString}"})).Results : new List<UserResponse>();
    }

}
