﻿@page "/rooms"

@inject IDialogService DialogService
@inject IRoomsService RoomService
@inject IEventsService EventsService
@inject INotificationsService NotificationsService
@inject NavigationManager NavigationManager
@using Clanwars.TournamentManager.Lib.Messages.Events
@using Clanwars.TournamentManager.Lib.Messages.Rooms
@using Clanwars.TournamentManager.Lib.Signalr.NotificationsHubMessages
@using Sieve.Models
@implements IDisposable


<PageTitle>Rooms</PageTitle>

@if (_rooms != null)
{
    <div class="my-5">
        <AuthorizeView Roles="tournament-moderator">
            <div class="d-flex justify-end pb-3">
                <MudButton StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Outlined" Color="Color.Secondary" Size="Size.Small" OnClick="async () => await CreateRoomAsync()">Add Room</MudButton>
                <MudButton StartIcon="@Icons.Material.Filled.ContentCopy" Variant="Variant.Outlined" Color="Color.Secondary" Size="Size.Small" OnClick="async () => await CopyRoomAsync()" Class="ml-3">Copy Room</MudButton>
            </div>
            <MudDivider></MudDivider>
        </AuthorizeView>

        <MudTable Hover="true" Items="@_rooms" Breakpoint="Breakpoint.Sm" Virtualize="true" FixedHeader="true" Elevation="0" Style="background: none" OnRowClick="ev => OnRowClicked(ev)" T="RoomResponse">
            <RowTemplate>
                <MudTd Class="pointer" Style="border-bottom-width: 0">
                    <MudText Typo="Typo.h4">@context.Name</MudText>
                    <MudText Typo="Typo.caption">Name</MudText>
                </MudTd>
                <MudTd Class="pointer" Style="border-bottom-width: 0">
                    <MudText Typo="Typo.h4">@(context.CountSeats - context.GridSquares.Count(gs => gs.User != null))</MudText>
                    <MudText Typo="Typo.caption">Sitzplätze frei</MudText>
                </MudTd>
                <MudTd Class="pointer" Style="border-bottom-width: 0">
                    <MudText Typo="Typo.h4">@context.CountSeats</MudText>
                    <MudText Typo="Typo.caption">Sitzplätze gesamt</MudText>
                </MudTd>
                <MudDivider/>
            </RowTemplate>
        </MudTable>

    </div>
}

@code {

    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; } = null!;

    [Parameter][SupplyParameterFromQuery(Name = "searchUserId")]
    public int[]? SearchUserIds { get; set; }

    private IList<RoomResponse>? _rooms;
    private EventResponse? CurrentEvent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
        NotificationsService.RoomsChanged += HandleRoomsChangedAsync;
    }

    protected override async Task OnParametersSetAsync()
    {
        if (_rooms is not null && SearchUserIds is not null and not [])
        {
            var foundUsersInFirstCurrentEventRoom = _rooms.FirstOrDefault(r => r.GridSquares.Any(gsr => gsr.User != null && SearchUserIds.Contains(gsr.User.Id)));
            if (foundUsersInFirstCurrentEventRoom != null)
            {
                NavigationManager.NavigateTo($"rooms/{foundUsersInFirstCurrentEventRoom.Id}?" + string.Join("&", SearchUserIds.Select(id => "searchUserId=" + id)), replace: true);
            }
        }
        else
        {
            var user = (await AuthenticationStateTask).User;
            if (_rooms is {Count: 1 } && !user.IsInRole("tournament-moderator"))
            {
                NavigationManager.NavigateTo($"rooms/{_rooms.First().Id}");
            }
        }
        await base.OnParametersSetAsync();
    }


    private async Task HandleRoomsChangedAsync(object arg1, RoomHubMessage arg2)
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        CurrentEvent = await EventsService.CurrentEventAsync();

        _rooms = (await RoomService.GetAllAsync(new SieveModel {Filters = $"eventId=={CurrentEvent!.Id}"})).OrderBy(r => r.Name).ToList();
    }

    private async Task CreateRoomAsync()
    {
        var dialog = await DialogService.ShowAsync<RoomCreateDialog>("Create Room", new DialogOptions {FullWidth = true});
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await OnInitializedAsync();
        }
    }

    private async Task CopyRoomAsync()
    {
        var dialog = await DialogService.ShowAsync<RoomCopyDialog>("Copy Room", new DialogOptions {FullWidth = true});
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await OnInitializedAsync();
        }
    }

    private void OnRowClicked(TableRowClickEventArgs<RoomResponse> clickArgs)
    {
        NavigationManager.NavigateTo($"rooms/{clickArgs.Item.Id}");
    }

    public void Dispose()
    {
        NotificationsService.RoomsChanged -= HandleRoomsChangedAsync;
    }

}
