﻿@using Clanwars.TournamentManager.Lib.Messages.User
@inject IDialogService DialogService
@inject IUserStoreService UserStoreService

<div class="py-4 d-flex flex-column">
    <MudText Typo="Typo.h4">
        Import Users to Identity Provider
    </MudText>
    <MudText Typo="Typo.body1">
        Use this page to re-import the users from Tournament-Manager to the configured Identity Provider.
    </MudText>
</div>

<MudButton Disabled="@(_processing || _finished)"
           OnClick="OpenConfirmDialogAsync"
           Variant="Variant.Filled"
           Color="Color.Error"
           Class="mt-10">
    @if (_processing)
    {
        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
        <MudText Class="ms-2">Importing</MudText>
    }
    else if (_finished)
    {
        <MudText>Done</MudText>
    }else
    {
        <MudIcon Icon="@Icons.Material.Filled.Warning" Class="mr-2"/>
        <MudText>Start Import</MudText>
    }
</MudButton>

@if (_finished)
{
    @if (_skippedUsers.Any())
    {
        <MudText Typo="Typo.h5" Class="py-3 mud-warning-text">Skipped Users</MudText>
        <MudDataGrid Items="@_skippedUsers">
            <Columns>
                <PropertyColumn Property="u => u.FirstName"/>
                <PropertyColumn Property="u => u.LastName"/>
                <PropertyColumn Property="u => u.Email"/>
            </Columns>
        </MudDataGrid>
    }

    <MudText Typo="Typo.h5" Class="py-3">Imported Users</MudText>
    <MudDataGrid Items="@_importedUsers">
        <Columns>
            <PropertyColumn Property="u => u.FirstName"/>
            <PropertyColumn Property="u => u.LastName"/>
            <PropertyColumn Property="u => u.Email"/>
        </Columns>
    </MudDataGrid>
}

@code {
    private bool _processing;
    private bool _finished;
    private List<UserResponse> _importedUsers = new List<UserResponse>();
    private List<UserResponse> _skippedUsers = new List<UserResponse>();

    private async Task OpenConfirmDialogAsync()
    {
        var options = new DialogOptions
        {
            CloseOnEscapeKey = true,
        };

        var dialog = await DialogService.ShowAsync<ConfirmUserImportDialog>("Import users", options);
        var result = await dialog.Result;
        
        if (result is { Canceled: false, Data: true })
        {
            _processing = true;
            StateHasChanged();

            var response = await UserStoreService.ReimportUsersToIdpAsync();

            _importedUsers = response.ImportedUsers;
            _skippedUsers = response.SkippedUsers;

            _processing = false;
            _finished = true;
        }
    }
}
