<MudDialog>
    <DialogContent>
        Display image for 
        <MudNumericField Min="0" @bind-Value="timeout" HelperText="seconds (0 = infinite)"/>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public int timeout { get; set; }

    private void Submit() => MudDialog.Close(DialogResult.Ok(timeout));

    private void Cancel() => MudDialog.Cancel();
}
