﻿@inject IDialogService DialogService
@inject NavigationManager NavigationManager
@using Clanwars.TournamentManager.Lib.Messages.Events
@using Clanwars.TournamentManager.Lib.Signalr.NotificationsHubMessages
@using Sieve.Models
@inherits OwningComponentBase<IEventsService>
@inject INotificationsService NotificationsService

@if (_events == null)
{
    <MudText>Loading...</MudText>
}
else
{
    <MudPaper Style="width: 60vw">
        <MudToolBar>
            <MudIconButton Icon="@Icons.Material.Outlined.Add" OnClick="CreateEventDialog"/>
            <MudSpacer/>
        </MudToolBar>

        <MudGrid Justify="Justify.FlexStart" Spacing="2">
            @foreach (var tournamentEvent in _events)
            {
                <MudItem xs="3">
                    <MudCard Outlined="true">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h6">@tournamentEvent.Name</MudText>
                            </CardHeaderContent>
                            <CardHeaderActions>
                                <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Default" OnClick="async () => await OpenEventEditDialogAsync(tournamentEvent)"/>
                                @* <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(async _ => await DeletionConfirmationDialogAsync(tournamentEvent))"></MudIconButton> *@
                            </CardHeaderActions>
                        </MudCardHeader>
                        <MudCardContent>
                            @* <MudText>Mode: @tournamentEvent.Mode</MudText> *@
                            @* <MudText>State: @tournamentEvent.State</MudText> *@
                            @* <MudText>Players per Team: @tournamentEvent.PlayerPerTeam</MudText> *@
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            }
        </MudGrid>
    </MudPaper>
}

@code {
    private IList<EventResponse>? _events;

    protected override async Task OnInitializedAsync()
    {
        NotificationsService.EventsChanged += OnEventsChangedAsync;
        await LoadDataAsync();
    }

    private async Task OnEventsChangedAsync(object arg1, EventHubMessage eventHubMessage)
    {
        await LoadDataAsync();
        StateHasChanged();
    }

    private async Task LoadDataAsync()
    {
        _events = await Service.GetAllAsync(new SieveModel{Sorts = "StartDate"});
    }

    // private async Task DeleteAsync(Tournament tournament)
    // {
    //     await _tournamentRepository.DeleteTournament(tournament);
    //     _events = await _tournamentRepository.GetTournaments().Where(t => t.EventId == _event!.Id).ToListAsync();
    //     StateHasChanged();
    // }
    //
    // private async Task DeletionConfirmationDialogAsync(Tournament tournament)
    // {
    //     var parameters = new DialogParameters {["tournament"] = tournament};
    //
    //     var dialog = DialogService.Show<TournamentDeleteDialog>("Delete Tournament", parameters);
    //     var result = await dialog.Result;
    //
    //     if (!result.Cancelled)
    //     {
    //         await DeleteAsync((Tournament) result.Data);
    //     }
    // }

    private Task CreateEventDialog()
    {
        var dialog = DialogService.Show<EventCreateDialog>("Create Event", new DialogOptions {BackdropClick = false});
        return dialog.Result;
    }

    private Task OpenEventEditDialogAsync(EventResponse eventResponse)
    {
        var parameters = new DialogParameters {["Event"] = eventResponse};
        var dialog = DialogService.Show<EventEditDialog>("Edit Event", parameters, new DialogOptions {BackdropClick = false});
        return dialog.Result;
    }

    protected override void Dispose(bool disposing)
    {
        NotificationsService.EventsChanged -= OnEventsChangedAsync;
        base.Dispose(disposing);
    }

}
